.modal {
	width: 100%;
	min-height: 480px;
	max-width: 543px;
	background: var(--color-white);
	border-radius: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 28px;
	display: none;
	&.fancybox__content {
		padding: 24px;
	}
	&__icon {
		line-height: 0;
		// margin-bottom: 44px;
	}
	&__heading {
		font-size: 24px;
		line-height: 42px;
		color: rgba(0, 0, 0, 0.8);
		// margin-bottom: 35px;
		text-align: center;
	}
	&__btns {
		display: flex;
		gap: 27px;
	}
	.carousel__button.is-close {
		display: none;
	}
	&--continue-filling {
		gap: 35px;
	}
}

body {
	.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
		cursor: default;
	}
	.fancybox__backdrop  {
		background: rgba(0,0,0,.41);
	}
	.fancybox__content :focus:not(.carousel__button.is-close) {
		outline: none;
	}
}