.support {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	&__icon {
		text-align: center;
		line-height: 0;
		position: relative;
	}
	&__heading {
		font-size: 10px;
		line-height: 12px;
		color: rgba(17, 17, 17, 0.8);
		text-align: center;
	}
	&__indicator {
		position: absolute;
		right: -4px;
		top: -4px;
		width: 14px;
		height: 14px;
		background: #E54137;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-white);
		font-weight: 700;
		font-size: 10px;
		line-height: 1;
		font-family: $fontThird;
	}
}