.create-application-form {
	max-width: 840px;
	display: flex;
	flex-direction: column;
	gap: 38px;
	&__row {
		display: flex;
		align-items: center;
		gap: 30px;
		&-heading {
			width: 209px;
		}
		&-content {
			flex-grow: 1;
		}
	}
}