.form-application {
	max-width: 840px;
	padding-top: 50px;
	&--step4 {
		padding-top: 35px;
		max-width: none;
	}
	// &__check {
	// 	padding-bottom: 23px;
	// }
	&__main {
		padding-top: 35px;
		@media (min-width: $lg) {
			padding-top: 50px;
		}
		&--step4 {
			padding-top: 35px;
		}
	}
	&__top {
		&-heading {
			@media (max-width: $lg - 1px) {
				text-align: center;
			}
		}
	}
	&__row-items {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (min-width: $lg) {
			gap: 38px;
		}
		&:not(:first-child) {
			padding-top: 33px;
		}
		&--padding-top-large {
			&:not(:first-child) {
				padding-top: 30px;
				@media (min-width: $lg) {
					padding-top: 60px;
				}
			}
		}
		&--gap-small {
			gap: 18px;
			// .form-application {
			// 	&__row {
			// 		gap: 15px;
			// 		min-height: 34px;
			// 		&-heading {
			// 			width: 210px;
			// 		}
			// 	}
			// }
		}
		&--gap-medium {
			gap: 33px;
		}

		&--create-app {
			&.form-application__row-items {
				gap: 15px;
			}
			.form-application__row {
				flex-direction: column;
				align-items: flex-start;
				gap: 12px;
				@media (min-width: $lg) {
					flex-direction: row;
					align-items: center;
				}
				@media (max-width: $lg - 1px) {
					&-heading {
						max-width: 100%;
						width: 100%;
					}
					&-content {
						width: 100%;
						max-width: 100%;
					}
				}
				&--switcher {
					flex-direction: row;
					align-items: center;
					.form-application {
						&__row {
							&-heading {
								width: auto;
								padding-right: 0;
							}
							&-content {
								width: auto;
							}
						}
					}
				}
			}
		}
	}
	&__row {
		display: flex;
		align-items: center;
		// min-height: 34px;
		&.hidden {
			display: none;
		}
		&-heading {
			width: 209px;
			@media (min-width: $lg) {
				padding-right: 10px;
			}
			&--width-small {
				width: 170px;
			}
			&--width-base {
				width: 225px;
			}
			&--width-normal {
				width: 240px;
			}
			&--width-auto {
				width: auto;
			}
		}
		&-content {
			flex-grow: 1;
			position: relative;
			&--width-base {
				max-width: 420px;
			}
			&--width-medium {
				max-width: 600px;
			}
		}

		&--check {
			padding-bottom: 7px;
		}

		&--terms-other {
			@media (max-width: $lg - 1px) {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}


	}

	&__add-item {
		padding-top: 30px;
		padding-bottom: 30px;
		@media (min-width: $lg) {
			padding-bottom: 45px;
		}
	}
	&__nav {
		// padding-top: 43px;
		display: flex;
		flex-wrap: wrap;
		gap: 25px 30px;
		width: 100%;
		&--preview {
			.btn-nav {
				flex-grow: 1;
			}
		}
		&--create-app {
			flex-wrap: wrap;
			padding-top: 20px;
			@media (max-width: $md - 1px) {
				.btn {
					width: 100%;
				}
			}
		}
	}

	&__section-heading {
		width: 100%;
		text-align: center;
		@media (min-width: $lg) {
			text-align: left;
		}
	}

}
