.form-steps {
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	@media (min-width: $lg) {
		padding: 62px 0 0;
	}
	&__item {
		position: relative;
		padding-left: 30px;
		padding-right: 16px;
		&:last-child {
			@media (min-width: $lg) {
				&:after {
					content: "";
					position: absolute;
					right: -20px;
					bottom: -10px;
					width: 23px;
					height: 23px;
					border-radius: 100%;
					border: 2px solid #B0B0B0;
				}
			}
			
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			width: 23px;
			height: 23px;
			border-radius: 100%;
			border: 2px solid #B0B0B0;
		}
		&-text {
			font-size: 16px;
			line-height: 19px;
			color: #8C8C8C;
			min-height: 47px;
			display: flex;
			align-items: center;
			border-bottom: 3px solid #B0B0B0;
			padding-bottom: 6px;
			flex-grow: 1;
			justify-content: center;
			@media (min-width: $lg) {
				justify-content: flex-start;
				width: 158px;
			}
		}
		&.active {
			.form-steps {
				&__item {
					&-text {
						border-color: #67CE16;
					}
				}
			}
			&:before {
				border-color: #67CE16;
			}
		}
		@media (max-width: $lg - 1px) {
			width: 100%;
			&:not(.current) {
				display: none;
			}
		}
	}	

}

