
.row-payment-input {
	display: flex;
	gap: 8px;
	flex-direction: column;
	@media (min-width: $lg) {
		gap: 15px;
		flex-direction: row;
	}
	&__col-select {
		@media (min-width: $lg) {
			width: 205px;
		}
	}
	&__col-input {
		flex-grow: 1;
	}
}
