.select {
	position: relative;
	width: 100%;
	
	&.opened {
		.select {
			&__list {
				opacity: 1;
				visibility: visible;
			}
			&__icon {
				.icon-chevron-up {
					transform: rotate(0deg);
				}
			}
		}
	}
	&.is-selected {
		.input-base--no-search {
			color: var(--color-black-base);
		}
		.select {
			&__icon {
				.icon-chevron-up {
					fill: var(--color-black-base);
				}
			}
		}

		.form-request {
			&__input {
				background: var(--color-white);
				border-color: var(--color-black-base);
				height: 48px;
			}
		}
	}
	&__icon {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon-chevron-up {
			transform: rotate(180deg);
			fill: #A6A6A6;
		}
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 100;
		left: 0;
		top: calc(100% + 7px);
		width: 100%;
		background: var(--color-white);
		border: 1px solid #C8C8C8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 8px;
		overflow: hidden;
	
		opacity: 0;
		visibility: hidden;
		transition: .25s;

		max-height: 362px;

		&--type-of-property {
			max-height: 362px;
		}
		&--supplier {
			max-height: 254px;
		}

		&-item {
			padding: 10px 15px;
			transition: .25s;
			cursor: pointer;
			&:hover {
				background: #EEEEEE;
			}
			mark {
				background: #BADEFF;
				color: #393939;
			}
			&-main {
				font-size: 16px;
				line-height: 20px;
				color: #393939;
				&:not(:last-child) {
					padding-bottom: 3px;
				}
			}
			&-details {
				font-size: 16px;
				line-height: 20px;
				color: #9B9B9B;
			}
		}

		.ps__rail-x {
			display: none;
		}
		
		.ps__rail-y {
			position: absolute;
			right: 6px;
			bottom: 0;
			width: 4px;
			height: 100%;
		}
		
		.ps__thumb-y {
			background: rgba(#969696,.3);
			width: 4px;
			border-radius: 12px;
			position: absolute;
		}
	}
	&--width-base {
		max-width: 302px;
	}
	&--log-user {
		max-width: 218px;
	}
}