header.header
	.container
		a(href="#").header-logo
			img(src="img/logo-GTLK_dark.png", width="166" height="52" alt="")
		ul.header-menu
			li
				a(href="#") Компания
			li
				a(href="#") Деятельность
			li
				a(href="#") Клиентам
			li
				a(href="#") Закупки
			li
				a(href="#") Инвесторам
			li
				a(href="#") Устойчивое развитие
			li
				a(href="#") Медиа
		form.header-search
			.header-search__input-wrap
				input(type="text").header-search__input
				.header-search__icon
					+sprite("icon-loop")
				.header-search__btn
					input(type="submit" value="Найти").btn.btn-search.btn-search--header
		ul.header-btns
			li.header-btns__item.is-lg-hidden
				a(href="#").btn.header-btns__link
					+sprite("icon-loop") 
			li.header-btns__item
				a(data-target="popup-notifications").btn.header-btns__link
					+sprite("icon-bell")
					.header-btns__item-indicator 2
				.popup-notifications(data-popup="popup-notifications")
					.popup-notifications__top
						.popup-notifications__heading Уведомления
						a(href="#").popup-notifications__link Прочитать все
					.popup-notifications__scroll-wrapper
						.popup-notifications__list
							ul.popup-notifications__list
								li
									.notification
										.notification__inner
											.notification__icon
												+sprite("icon-credit-card")
											.notification__content
												.notification__content-top
													.notification__heading Поступил счет по договору 123-ЗЛ-ОК
													.notification__menu
														.tooltip.tooltip--notification
															a.btn.tooltip__btn.tooltip__btn--vertical.tooltip__btn--notifications
																+sprite("icon-more-alt")
															ul.tooltip__menu
																li.tooltip__menu-item
																	a(href="#").tooltip__menu-item-link.tooltip__menu-item-link--color-black Отметить прочитанным
												.notification__desc
													p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
												.notification__bar
													a(href="#").notification__bar-link.link-base Перейти к оплате
													.notification__bar-date Сегодня в 14:32
											.notification__indicator.notification__indicator--is-new
								li
									.notification
										.notification__inner
											.notification__icon
												+sprite("icon-chat_stroke")
											.notification__content
												.notification__content-top
													.notification__heading Новый комментарий по сделке 123-ЗЛ-ОК
													.notification__menu
														.tooltip.tooltip--notification
															a.btn.tooltip__btn.tooltip__btn--vertical.tooltip__btn--notifications
																+sprite("icon-more-alt")
															ul.tooltip__menu
																li.tooltip__menu-item
																	a(href="#").tooltip__menu-item-link.tooltip__menu-item-link--color-black Отметить прочитанным
												.notification__desc
													p текст уведомления
												.notification__bar
													.notification__bar-date Сегодня в 14:32
											.notification__indicator.notification__indicator--is-new
								li
									.notification.notification--is-important
										.notification__inner
											.notification__icon
												+sprite("icon-alert")
											.notification__content
												.notification__content-top
													.notification__heading Необходимо обновить документы
													.notification__menu
														.tooltip.tooltip--notification
															a.btn.tooltip__btn.tooltip__btn--vertical.tooltip__btn--notifications
																+sprite("icon-more-alt")
															ul.tooltip__menu
																li.tooltip__menu-item
																	a(href="#").tooltip__menu-item-link.tooltip__menu-item-link--color-black Отметить прочитанным
												.notification__desc
													p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
												.notification__bar
													a(href="#").notification__bar-link.link-base Перейти к обновлению
													.notification__bar-date Вчера в 15:00
											.notification__indicator.notification__indicator--is-read
								li
									.notification.notification--is-important
										.notification__inner
											.notification__icon
												+sprite("icon-alert")
											.notification__content
												.notification__content-top
													.notification__heading Необходимо обновить документы
													.notification__menu
														.tooltip.tooltip--notification
															a.btn.tooltip__btn.tooltip__btn--vertical.tooltip__btn--notifications
																+sprite("icon-more-alt")
															ul.tooltip__menu
																li.tooltip__menu-item
																	a(href="#").tooltip__menu-item-link.tooltip__menu-item-link--color-black Отметить прочитанным
												.notification__desc
													p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
												.notification__bar
													a(href="#").notification__bar-link.link-base Перейти к обновлению
													.notification__bar-date Вчера в 15:00
											.notification__indicator.notification__indicator--is-read
					.popup-notifications__bottom
						a(href="#").popup-notifications__link Показать все			

					.popup-notifications__close(data-popup-close)
						+sprite("icon-close")
			li.header-btns__item.is-lg-hidden
				a(data-target="popup-menu").btn.header-btns__link
					+sprite("icon-menu")
				.user-menu.user-menu--mobile(data-popup="popup-menu")
					ul.user-menu__list
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-file-tray")
								| Заявки
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-newspaper")
								| Договоры
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-doc")
								| Обращения НМЦ
					ul.user-menu__list
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-user")
								| Профиль
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-calendar")
								| Журнал событий
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-book")
								| Справка по системе
					ul.user-menu__list
						li.user-menu__list-item
							.manager.manager--view-full
								.manager__main
									.manager__ava
										img(src="img/avatar-manager.png", alt="")
									.manager__name Менеджер Иванова А.А.
								.manager__contacts
									a(href="#").btn.manager__btn Связаться
					ul.user-menu__list
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-chat")
								| Служба поддержки
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-logout")
								| Выйти
			li.header-btns__item.is-lg-visible
				a(data-target="popup-user-menu").btn.header-btns__link
					+sprite("icon-user")
				.user-menu(data-popup="popup-user-menu")
					ul.user-menu__list
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-user-stroke")
								| Профиль
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-calendar")
								| Журнал событий
					ul.user-menu__list
						li.user-menu__list-item
							a(href="#").user-menu__list-item-link
								span.user-menu__list-item-icon
									+sprite("icon-logout")
								| Выйти