.modal.modal--continue-filling#modal-continue-filling
	.modal__icon
		img(src="img/icon-filling.svg", width="127" height="126" alt="")
	.modal__heading Продолжить заполнение?
	.modal__btns
		a(href="#").btn.btn-filling.btn-filling--positive Да
		a(href="#").btn.btn-filling.btn-filling--negative Нет

.modal#modal-remove-draft
	.modal__icon
		img(src="img/icon-remove-draft.svg", width="222" height="221" alt="")
	.modal__heading Вы уверены, что хотите удалить черновик?
	.modal__btns
		a(href="#").btn.btn-confirm.btn-confirm--positive Да
		a(href="#").btn.btn-confirm.btn-confirm--negative Нет