.auth {
	max-width: 448px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 100px;
	@media (min-width: $md) {
		padding-top: 43px;
	}
	&__heading {
		color: var(--color-black-base);
		text-align: center;
		font-weight: 700;
		font-size: 26px;
		line-height: 28px;
		@media (min-width: $lg) {
			font-size: 34px;
			line-height: 39px;
		}
	}

	&__form {
		padding-top: 27px;
		
		&-heading {
			font-family: $fontThird;
			font-weight: 700;
			color: rgba(0, 0, 0, 0.75);
			padding-bottom: 7px;
			font-size: 18px;
			line-height: 22px;
			@media (min-width: $lg) {
				font-size: 24px;
				line-height: 29px;
			}
			&--field {
				padding-left: 13px;
			}
		}
	}

	&__field {
		position: relative;
		&:not(:last-child) {
			padding-bottom: 31px;
		}
		&-input-wrap {
			position: relative;
		}
		&-input {
			display: block;
			width: 100%;
			font-family: $fontBase;
			-webkit-appearance: none;
			transition: .25s;
			background: rgba(157, 159, 162, 0.13);
			border: 1px solid transparent;
			border-radius: 10px;

			padding: 5px 10px;

			color: rgba(0, 0, 0, 0.75);
			font-family: $fontThird;
			height: 60px;
			font-size: 16px;
			line-height: 1.2;
			@media (min-width: $lg) {
				height: 73px;
				font-size: 20px;
				line-height: 24px;
			}

			&.is-active {
				border-color: #B9BDBD;
				background: var(--color-white);
			}
			&.is-error {
				border-color: var(--color-red);
			}
		}
		&-error {
			font-size: 16px;
			line-height: 19px;
			color: var(--color-red);

			position: absolute;
			left: 0;
			top: calc(100% + 2px);

			opacity: 0;
			&.is-visible {
				opacity: 1;
			}
		}
	}

	&__checkbox-wrapper {
		padding-top: 25px;
		padding-bottom: 30px;
		@media (min-width: $md) {
			padding-bottom: 43px;
		}
	}

	&__sep {
		display: flex;
		align-items: center;
		font-size: 20px;
		line-height: 24px;
		color: var(--color-black-base);
		padding-top: 25px;
		&::before {
			content: "";
			flex-grow: 1;
			height: 2px;
			background-color: rgba(0, 0, 0, 0.26);
			margin-top: 2px;
		}
		&::after {
			content: "";
			flex-grow: 1;
			height: 2px;
			background-color: rgba(0, 0, 0, 0.26);
			margin-top: 2px;
		}
		&-text {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&__type {
		padding-top: 25px;
		&-list {
			list-style: none;
			margin: 0;
			padding: 10px 0 0;
			&>li {
				&>a {
					width: 55px;
					height: 55px;
					background: var(--color-white);
					border: 1px solid #BDBDBD;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 5px;
				}
			}
		}
	}
	
}
