.auth-checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&__icon {
		flex-shrink: 0;
		width: 27px;
		height: 27px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--color-white);
		border: 1px solid var(--color-black-base);
		border-radius: 5px;
		transition: .25s;
		.icon-check {
			transition: .25s;
			opacity: 0;
			transform: scale(0);
			fill: var(--color-white);
			width: 17px;
			height: 17px;
		}
	}
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: rgba(var(--color-black-base));
		padding-left: 20px;
	}
	input{
		&:checked {
			&+.auth-checkbox__icon {
				background: #0085FF;
				border-color: #0085FF;
				.icon-check {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}