.header-auth {
	background: var(--color-dark);
	color: var(--color-white);
	padding-top: 20px;
	padding-bottom: 20px;
	@media (min-width: $md) and (min-height: 769px) {
		padding-top: 37px;
		padding-bottom: 30px;
	}

	&>.container {
		max-width: 1535px;
	}

	&__top {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		@media (min-width: $md) {
			flex-direction: row;
			justify-content: space-between;
		}
		&-bar {
			display: flex;
			align-items: center;
			// @media (max-width: $md - 1px) {
			// 	width: 100%;
			// 	justify-content: space-between;
			// }
		}
	}

	&__logo {
		line-height: 0;
		flex-shrink: 0;
		img {
			@media (max-width: $md - 1px) {
				width: 160px;
				height: auto;
			}
		}
	}

	&__btn-menu {
		margin-left: 20px;
		@media (min-width: $lg) {
			margin-left: 45px;
		}
		.icon-menu {
			@media (max-width: $lg - 1px) {
				width: 30px;
				height: 22px;
			}
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 10px 0 0;
		gap: 5px 15px;
		@media (min-width: $md) and (min-height: 769px)  {
			gap: 0;
			padding: 20px 0 0;
		}
		@media (min-width: $lg) and (min-height: 940px) {
			padding: 35px 0 0;
		}
		&>li {
			&:not(:last-child) {
				@media (min-width: $md) {
					&:after {
						content: "";
						display: block;
						background: var(--color-white);
						position: relative;
						display: inline-block;
						bottom: -2px;
						width: 2px;
						height: 17px;
						margin: 0 15px;
						@media (min-width: $lg) {
							margin: 0 33px;
						}
					}
				}
			}
			&>a {
				color: var(--color-white);
				font-size: 16px;
				line-height: 20px;
				@media (max-width: $md - 1px) {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
				@media (min-width: $lg) {
					font-size: 20px;
					line-height: 24px;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__heading {
		font-style: normal;
		font-weight: 400;
		text-align: center;
		font-size: 34px;
		line-height: 40px;
		padding-top: 15px;
		@media (min-width: $lg) {
			font-size: 40px;
			line-height: 42px;
		}
		@media (min-width: $lg) and (min-height: 940px) {
			padding-top: 25px;
			font-size: 64px;
			line-height: 78px;
		}
	}

	&__phone {
		font-family: $fontSecond;
		font-weight: 700;
		color: var(--color-white);
		font-size: 20px;
		line-height: 24px;
		.icon-phone {
			position: relative;
			top: 1px;
			margin-right: 6px;
			@media (min-width: $lg) {
				margin-right: 12px;
			}
		}

		@media (min-width: $lg) {
			font-size: 24px;
			line-height: 28px;
		}
	}
	
}

