.help {
  display: flex;
  align-items: flex-start;
  @media (min-width: $md) {
    align-items: center;
    padding: 0 0 0 65px;
  }
  &__heading {
    background: var(--color-white);
    border-radius: 100%;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 20px 1px #ACC2D4;
    gap: 8px;
    flex-shrink: 0;
    padding: 0 0 0 18px;
    position: relative;
    @media (max-width: $md - 1px) {
      transform-origin: center 0;
      transform: scale(.43);
      margin-left: -35px;
      margin-right: -35px;
    }
    @media (min-width: $md) {
      margin-right: 80px;
    }
    &-main {
      line-height: 1.2;
      font-size: 24px;
      @media (min-width: $md) {
        font-size: 20px;
      }
    }
    &-sub {
      line-height: 1.2;
      font-size: 20px;
      @media (min-width: $md) {
        font-weight: 300;
        font-size: 14px;
      }
    }
    &-img {
      position: absolute;
      left: -69px;
      top: -14px;
      max-width: none;
      max-height: none;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 308px;
      height: 214px;
    }
  }
  &__nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
      &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F7F9FB;
        color:  var(--color-black-base);
        border-radius: 16px;
        height: 49px;
        padding: 7px 16px;
        transition: .25s;
        width: 210px;
        @media (min-width: $md) {
          width: 269px;
        }
        &:hover {
          background: #D0D6F8;

        }
      }
      &-icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: var(--color-blue-base);
          max-width: 22px;
          max-height: 22px;
        }
        .icon-file-tray {}
      }
    }
  }
}

.help-rate {
  background: #F7F9FB;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  align-items: center;
  margin-top: 37px;
  gap: 5px;
  &__heading {
    font-size: 14px;
    line-height: 1;
    @media (min-width: $md) {
      font-size: 18px;

    }
  }
  &__btns {
    flex-shrink: 0;
    gap: 10px;
    &-item {
      padding:2px 7px;
      color: var(--color-black-base);
      background: #EAEDFF;
      border-radius: 10px;
      font-size: 14px;
      gap: 8px;
      height: 26px;
      @media (min-width: $md) {
        height: 40px;
        gap: 12px;
        font-size: 16px;
        padding: 12px;
      }
      &:hover {
        background: #D0D6F8;
      }
    }
  }
}

.request-sent {
  text-align: center;
  &__heading {
    font-weight: 700;
    color: #159655;
    font-size: 24px;
    line-height: 30px;
    @media (min-width: $md) {
      font-size: 32px;
      line-height: 42px;
    }
    &:not(:last-child) {
      padding-bottom: 20px;
      @media (min-width: $md) {
        padding-bottom: 60px;
      }
    }
  }
  &__text {
    font-size: 20px;
    line-height: 1.2;
    @media (min-width: $md) {
      font-size: 24px;
    }
  }
}