.application-table {
	width: 100%;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.8);
	border-top: 1px solid #E6E6E6;
	border-collapse: collapse;
	table-layout: fixed;
	// max-width: 1485px;
	tbody {
		tr {
			transition: .25s;
			&:hover {
				background: #F5F5F5;
				.total-selected {
					background: var(--color-white);
				}
				.application-table td {
					border: 0 !important;
				}
				.application-table td:first-child {
					border: 0 !important;
				}
			}
		}
	}
	th {
		color: var(--color-gray);
		font-weight: 400;
		text-align: left;
		vertical-align: top;
		border-bottom: 1px solid #E6E6E6;
		vertical-align: middle;
		height: 66px;
		padding: 7px 15px;
		&:not(:last-child) {
			border-right: 1px solid #E6E6E6;
		}
		&.th-section-heading {
			text-align: center;
		}

		&.th-table-inside {
			padding: 0;
			table {
				width: 100%;
				border-collapse: collapse;
				th {
					height: auto;
					&:not(.th-section-heading) {
						border: 0;
					}
				}
			}
		}
	}
	td {
		vertical-align: top;
		padding: 10px;
		border-bottom: 1px solid #E6E6E6;
		min-height: 66px;
		padding: 9px 15px;
		&:first-child {
			border-right: 1px solid #E6E6E6;
		}
		&.td-table-inside {
			padding: 5px 0;
			table {
				width: 100%;
				border-collapse: collapse;
				table-layout: fixed;
				td {
					border: 0;
					padding-top: 4px;
					padding-bottom: 4px;
				}
			}
		}
		&.td-total-selected {
			padding-left: 0;
			padding-right: 0;
		}
	}

}

.application-nav {
	gap: 15px;
}

.total-selected {
	background: #F4F4F4;
	padding: 3px 15px 4px;
	transition: .25s;
}

.text-one-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
