.status {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 4px;
	border-radius: 4px;
	flex-shrink: 0;
	height: 28px;
	font-size: 11px;
	line-height: 1.2;
	width: 118px;
	@media (min-width: $lg) {
		width: 155px;
		font-size: 14px;
		height: 36px;
	}
	&--review {
		background: #FBE741;
		color: #386415;
	}
	&--rejected {
		background: #FFDFDF;
		color: #8C0909;
	}
	&--registered {
		background: #D0F4FF;
		color: #093E8C;
	}
	&--completed {
		background: #B5F97F;
		color: #386415;
	}
	&--replaced {
		background: #FFDFDF;
		color: #8C0909;
	}
	&--draft {
		background: #DEDEDE;
		color: #454545;
	}
	&--active {
		background: #FBE741;
		color: #093E8C;
	}

	&--text-medium {
		font-size: 11px;
		@media (min-width: $lg) {
			font-size: 16px;
		}
	}
}