.tabs {
	position: relative;
	&--application {
		margin-bottom: 62px;
	}
	&--application-docs {
		margin-bottom: 35px;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 22px 0 0;
		display: flex;
	}
	&__item {
		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 70px;
			padding: 5px 43px;
			font-size: 18px;
			line-height: 24px;
			color: rgba(var(--color-black-base));
			border-bottom: 1px solid #C4C1C1;
		}
		&.current {
			.tabs {
				&__item {
					&-link {
						color: #0085FF;
					}
				}
			}
		}
	}
	&__line {
		content: "";
		position: absolute;
		height: 1px;
		bottom: 0;
		width: 0;
		background: #0085FF;
		transition: .25s;
	}
}

.tab-content {
	display: none;
	&.current {
		display: block;
	}
}