.tabs {
	list-style: none;
	margin: 0;
	padding: 22px 0 25px;
	display: flex;
	&--application {
		padding-bottom: 62px;
	}
	&--application-docs {
		padding-bottom: 35px;
	}
	&>li {
		&>a {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 70px;
			padding: 5px 43px;
			font-size: 18px;
			line-height: 24px;
			color: rgba(0, 0, 0, 0.8);
			border-bottom: 1px solid #C4C1C1;
		}
		&.current {
			&>a {
				color: #0085FF;
				border-color: #0085FF;
			}
		}
	}
}