.btn {
	cursor: pointer;
	text-decoration: none;
	background: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all .25s;
	max-width: 100%;
	outline: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		transition: none;
	}

	&-submit {
		background: #0060CC;
		border-radius: 10px;
		font-weight: 700;
		font-family: $fontThird;
		color: var(--color-white);
		padding: 5px 15px;

		&--size-normal {
			height: 43px;
			font-size: 21px;
			line-height: 25px;
		}

		&--size-large {
			height: 60px;
			font-size: 36px;
			line-height: 43px;
		}

		&--cookies {
			min-width: 190px;
		}
		&:hover {
			background: #0054b4;
		}
	}

	&-show-pass {
		opacity: 0;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;

		.icon-eye-opened {
			display: none;
		}

		&.is-visible {
			opacity: 1;
		}

		&.is-active {
			.icon-eye-opened {
				display: block;
			}
			.icon-eye {
				display: none;
			}

		}
	}

	&-base {
		background: #159655;
		font-size: 16px;
		line-height: 24px;
		color: #E8E8E8;
		height: 52px;
		padding: 5px 41px;
		border-radius: 10px;
		text-transform: uppercase;
		&:hover {
			background: #0b8045;
		}
	}

	&-filling {
		height: 46px;
		border-radius: 4px;
		width: 138px;
		color: var(--color-white);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		&--positive {
			background: #159655;
		}
		&--negative {
			background: #243F94;
		}
	}
	
	&-confirm {
		height: 46px;
		border-radius: 10px;
		width: 138px;
		color: var(--color-white);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		&--positive {
			background: #53BD00;
		}
		&--negative {
			background: #939598;
		}
	}

	&-nav {
		height: 57px;
		min-width: 296px;
		border-radius: 10px;
		font-size: 20px;
		line-height: 1;
		font-family: $fontBase;
		text-transform: uppercase;
		padding: 5px 30px;
		&--cancel {
			background: var(--color-blue);
			color: var(--color-white);
			&:hover {
				background: #033177;
			}
		}
		&--annul {
			color: var(--color-white);
			background: #E74C3C;
			&:hover {
				background: #d03828;

			}
		}
		&--back {
			border: 1px solid var(--color-green);
			color: var(--color-green);
		}
		&--continue {
			background: var(--color-green);
			color: var(--color-white);
			&:hover {
				background: #117944;
			}
			&.disabled-send {
				background: #969696;
				cursor: default;
				pointer-events: none;
			}
		}
		&--save {
			background: #243F94;
			color: var(--color-white);
		}
		&--back-cancel {
			background: #E6961F;
			color: var(--color-white);
		}
		&--send {
			background: #969696;
			color: var(--color-white);
		}
		&.disabled {
			background: #CECECE;
			cursor: default;
			pointer-events: none;
		}
		&--waiting {
			background: #43698C;
			color: var(--color-white);
			gap: 17px;
		}
	}

	&-action {
		font-size: 12px;
		line-height: 1;
		gap: 6px;
		color: var(--color-blue-base);
	}

	&-upload {
		gap: 8px;
		font-size: 14px;
		line-height: 18px;
		color: var(--color-blue-base);
		&__icon {
			line-height: 0;
		}
	}

	&-add-item {
		gap: 8px;
		font-size: 18px;
		.icon-add-circle {
			width: 32px;
			height: 32px;
		}
	}

	&-app {
		background: #0060CC;
		border-radius: 8px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		font-family: $fontBase;
		color: var(--color-white);
		height: 54px;
		padding: 5px 15px;
		min-width: 279px;

		&:hover {
			background: #0054b4;
		}
	}

	&-search {
		width: 141px;
		height: 38px;
		border: 1px solid #0085FF;
		border-radius: 10px;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #0085FF;
		&:hover {
			background: #0085FF;
			color: var(--color-white);
		}
	}











	&--fullwidth {
		width: 100%;
	}

	
}
