.btn {
	cursor: pointer;
	text-decoration: none;
	background: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all .25s;
	max-width: 100%;
	outline: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		transition: none;
	}

	&-submit {
		background: #0060CC;
		border-radius: 10px;
		font-weight: 700;
		font-family: $fontThird;
		color: var(--color-white);
		padding: 5px 15px;

		&--size-normal {
			height: 43px;
			font-size: 21px;
			line-height: 25px;
		}

		&--size-large {
			height: 60px;
			font-size: 36px;
			line-height: 43px;
		}

		&--cookies {
			min-width: 190px;
		}
		&:hover {
			background: #0054b4;
		}
	}

	&-show-pass {
		opacity: 0;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;

		.icon-eye-opened {
			display: none;
		}

		&.is-visible {
			opacity: 1;
		}

		&.is-active {
			.icon-eye-opened {
				display: block;
			}
			.icon-eye {
				display: none;
			}

		}
	}

	&-base {
		background: #159655;
		font-size: 16px;
		line-height: 24px;
		color: #E8E8E8;
		height: 52px;
		padding: 5px 41px;
		border-radius: 10px;
		text-transform: uppercase;
		&:hover {
			background: #0b8045;
		}
	}

	&-filling {
		height: 46px;
		border-radius: 4px;
		width: 138px;
		color: var(--color-white);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		&--positive {
			background: #159655;
		}
		&--negative {
			background: #243F94;
		}
	}
	
	&-confirm {
		height: 46px;
		border-radius: 10px;
		width: 138px;
		color: var(--color-white);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		&--positive {
			background: #53BD00;
		}
		&--negative {
			background: #939598;
		}
	}













	&--fullwidth {
		width: 100%;
	}

	
}
