.is-error {
    border-color: red;
}

.is-success {
    border-color: green;
}

// -----

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent;
}

button {
	cursor: pointer;
	border: 0;
	outline: none;
}


input {
	vertical-align: middle;
	outline: none;
	border: 0;
	&[type="submit"], &[type="button"] {
		cursor: pointer;
		-webkit-appearance: none;
	}
}

textarea {
	outline: none;
	resize: none;
	overflow: auto;
}

:invalid {
	box-shadow: none;
}

.ui-input {
	display: block;
	width: 100%;
	font-family: $fontBase;
	-webkit-appearance: none;
	transition: .25s;
}




.checkbox-base {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&__icon {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--color-white);
		border: 1px solid #969696;
		border-radius: 2px;
		transition: .25s;
		.icon-check {
			transition: .25s;
			opacity: 0;
			transform: scale(0);
			width: 14px;
			height: 14px;
			fill: var(--color-white)
		}
	}
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #8C8C8C;
		padding-left: 10px;
		transition: .25s;
	}
	input{
		&:checked {
			&+.checkbox-base__icon {
				background: #0085FF;
				border-color: #0085FF;
				.icon-check {
					opacity: 1;
					transform: scale(1);
				}
				&+.checkbox-base__text {
					color: #364261;
				}
			}
		}
	}
}


.input-base {
	display: block;
	width: 100%;
	font-family: $fontBase;
	-webkit-appearance: none;
	transition: 0.25s;
	padding: 8px 15px;
	height: 38px;
	background: var(--color-white);
	border: 1px solid rgba(52, 52, 52, 0.8);
	border-radius: 8px;
	font-size: 16px;
	line-height: 20px;
	color: #343434;
	&--textarea {
		height: 58px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	// &:focus, &.complete {
	// 	border-color: rgba(52, 52, 52, 0.8);
	// }
	&--replace-info {
		height: 103px;
	}

	&--height-small {
		height: 34px;
	}
	&::placeholder {
		color: #BCBCBC;
	}


	&--width-base {
		max-width: 421px;
	}

	&--select {
		padding-right: 25px;
		text-overflow: ellipsis;
	}
}
