.icon-phone {
	width: 20px;
	height: 20px;
}

.icon-menu {
	width: 44px;
	height: 31px;
}

.icon-eye {
	width: 18px;
	height: 10px;
}
.icon-eye-opened {
	width: 21px;
	height: 15px;
}

.icon-check {
	width: 16px;
	height: 16px;
}

.icon-user {
	width: 28px;
	height: 28px;
}

.icon-bell {
	width: 24px;
	height: 28px;
}

.icon-loop {
	width: 24px;
	height: 24px;
}

.icon-file-tray {
	width: 24px;
	height: 24px;
}

.icon-newspaper {
	width: 24px;
	height: 24px;
}

.icon-doc {
	width: 18px;
	height: 20px;
}

.icon-book {
	width: 24px;
	height: 24px;
}

.icon-chat {
	width: 32px;
	height: 32px;
}

.icon-more-alt {
	width: 16px;
	height: 4px;
}

.icon-chevron-right {
	width: 8px;
	height: 12px;
}

.icon-chevron-left {
	width: 8px;
	height: 12px;
}
