.icon-phone {
	width: 20px;
	height: 20px;
	fill: var(--color-white);
}

.icon-menu {
	width: 44px;
	height: 31px;
	fill: var(--color-white);
}

.icon-eye {
	width: 18px;
	height: 10px;
	fill: none;
	stroke-width: 2px;
	stroke: rgba(0,0,0,1);
}
.icon-eye-opened {
	width: 20px;
	height: 14px;
}

.icon-user {
	width: 28px;
	height: 28px;
}

.icon-bell {
	width: 24px;
	height: 28px;
}

.icon-loop {
	width: 24px;
	height: 24px;
}

.icon-file-tray {
	width: 24px;
	height: 24px;
}

.icon-newspaper {
	width: 24px;
	height: 24px;
}

.icon-doc {
	width: 18px;
	height: 20px;
}

.icon-book {
	width: 24px;
	height: 24px;
}

.icon-chat {
	width: 32px;
	height: 32px;
}

.icon-more-alt {
	width: 16px;
	height: 4px;
}

.icon-chevron-right {
	width: 8px;
	height: 12px;
}

.icon-chevron-left {
	width: 8px;
	height: 12px;
}

.icon-circle-alert {
	width: 17.5px;
	height: 17.5px;
	fill: var(--color-red-base);
}

.icon-chat_stroke {
	width: 21px;
	height: 20px;
	fill: var(--color-black-base);
}

.icon-more-alt_vertical {
	width: 3px;
	height: 12px;
}

.icon-alert {
	width: 21px;
	height: 20px;
}

.icon-info {
	width: 21px;
	height: 21px;
	fill: #509AF8;
}

.icon-notes {
	width: 16px;
	height: 18px;
}

.icon-add-circle {
	width: 26px;
	height: 26px;
	fill: var(--color-blue-base);
}

.icon-plus {
	width: 13px;
	height: 13px;
	fill: var(--color-blue-base);
}

.icon-check {
	width: 12px;
	height: 9px;
	fill: #67CE16;
}

.icon-chevron-up {
	width: 15px;
	height: 9px;
}

.icon-attachment {
	width: 10px;
	height: 15px;
	fill: var(--color-blue-base);
}

.icon-pencil {
	width: 10px;
	height: 10px;
	fill: var(--color-blue-base);
}

.icon-loading {
	width: 21px;
	height: 21px;
	stroke: var(--color-white);
}

.icon-chevron-down {
	width: 15px;
	height: 9px;
	fill: #8C8C8C;
}

.icon-done {
	fill: #67CE16;
}

.icon-settings {
	width: 24px;
	height: 24px;
	fill: none;
	stroke: var(--color-black-base);
}

.icon-management {
	width: 24px;
	height: 18px;
}

.icon-user-stroke {
	width: 20px;
	height: 20px;
}

.icon-logout {
	width: 19px;
	height: 19px;
}

.icon-close {
	width: 8px;
	height: 8px;
	fill: #A9A9A9;
}

.icon-credit-card {
	width: 24px;
	height: 24px;
}

.icon-calendar {
	width: 24px;
	height: 24px;
}

.icon-edit {
	width: 24px;
	height: 24px;
}

.icon-list {
	width: 20px;
	height: 18px;
}

.icon-org {
	width: 18px;
	height: 18px;
}

.icon-close-circle-outline {
	width: 24px;
	height: 24px;
}

.icon-circle-false {
	width: 16px;
	height: 16px;
}

.icon-circle-true {
	width: 16px;
	height: 16px;
}

.icon-swipe {
	width: 30px;
	height: 30px;
}