.icon-phone {
	width: 20px;
	height: 20px;
}

.icon-menu {
	width: 44px;
	height: 31px;
}

.icon-eye {
	width: 18px;
	height: 10px;
}
.icon-eye-opened {
	width: 21px;
	height: 15px;
}

.icon-check {
	width: 16px;
	height: 16px;
}
