include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

			include html/header
			.main-row

				aside.sidebar
					.sidebar__section
						ul.sidebar__nav
							li.sidebar__nav-item
								a(href="#").sidebar__nav-item-btn
									.sidebar__nav-item-icon
										+sprite("icon-file-tray")
									.sidebar__nav-item-text Заявки
							li.sidebar__nav-item.current
								a(href="#").sidebar__nav-item-btn
									.sidebar__nav-item-icon
										+sprite("icon-newspaper")
									.sidebar__nav-item-text Договоры
							li.sidebar__nav-item
								a(href="#").sidebar__nav-item-btn
									.sidebar__nav-item-icon
										+sprite("icon-doc")
									.sidebar__nav-item-text Обращения НМЦ
					.sidebar__section
						ul.sidebar__nav
							li.sidebar__nav-item
								a(href="#").sidebar__nav-item-btn
									.sidebar__nav-item-icon
										+sprite("icon-book")
									.sidebar__nav-item-text Справка
					.sidebar__section
						.manager
							.manager__ava
								img(src="img/avatar-manager.png", alt="")
							.manager__name Менеджер Иванова А.А.
							a(href="#").btn.manager__btn Связаться
					.sidebar__section
						a(href="#").support
							.support__icon
								+sprite("icon-chat")
							.support__heading Служба поддержки

				main.main
					.content
						.content-inner
							.d-flex.justify-content-between.align-items-center
								.heading-base Договоры
							form.application-form
								.application-form__item
									input(type="text" placeholder="Поиск").application-form__item-input
									.application-form__item-icon
										+sprite("icon-loop")
								input(type="submit" value="Найти").btn.btn-search
							
							table.application-table
								thead
									tr
										th(style="width:9.6%") №
										th(style="width:9.6%") Дата подписания
										th(colspan="6").th-table-inside
											table
												thead
													tr
														th(colspan="6").th-section-heading Договоры
													tr
														th(style="width:20%") Наименование
														th(style="width:20%") Вид договора
														th(style="width:20%") Контрагент
														th(style="width:20%") Валюта
														th(style="width:20%") Сумма договора
										th(style="width:13.45%") Статус
								tbody
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--completed.status--text-medium Выполнен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--active.status--text-medium Активен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--active.status--text-medium Активен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--completed.status--text-medium Выполнен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--completed.status--text-medium Выполнен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--active.status--text-medium Активен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--active.status--text-medium Активен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--completed.status--text-medium Выполнен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать
									tr
										td(style="width:9.6%") 123-ЗЛ-ОК
										td(style="width:9.6%") 12.07.2023
											br
											span.color-gray 12:24
										td(colspan="6").td-table-inside
											table
												tr
													td(style="width:20%") Наименование
													td(style="width:20%") Договор лизинга
													td(style="width:20%") Иванов А.А.
													td(style="width:20%") Рубли
													td(style="width:20%") 20 000 000,00
										td(style="width:13.45%")
											.d-flex.align-items-center.application-nav
												.status.status--completed.status--text-medium Выполнен
												.tooltip
													a.btn.tooltip__btn
														+sprite("icon-more-alt")
													ul.tooltip__menu
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Просмотреть
														li.tooltip__menu-item
															a(href="#").tooltip__menu-item-link Создать новую версию
														li.tooltip__menu-item.tooltip__menu-item--cancel
															a(href="#").tooltip__menu-item-link Аннулировать

							ul.pagination
								li.disabled
									a(href="#")
										+sprite("icon-chevron-left")
								li.current
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") ...
								li
									a(href="#") 9
								li
									a(href="#") 10
								li
									a(href="#")
										+sprite("icon-chevron-right")

					footer.footer
						.container
							.footer__section.d-flex.justify-content-end
								ul.footer__menu
									li
										a(href="#") О нас
									li
										a(href="#") Реквизиты
									li
										a(href="#") Политика в отношении обработки персональных данных в АО “ГТЛК”
							hr
							.footer__section.d-flex.justify-content-between.align-items-center
								.footer__copyright © 2023 АО ГТЛК
								ul.footer__menu
									li
										a(href="tel:88002001299") 8-800-200-12-99
									li
										a(href="mailto:gtlk@gtlk.ru") gtlk@gtlk.ru
									li
										a(href="#") 125284, г. Москва, Ленинградский проспект д. 31 а, стр. 1
			
		include html/modals

		script(src="js/app.min.js")