include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

			include html/header
			.main-row

				aside.sidebar
					.sidebar__inner
						.sidebar__section
							ul.sidebar__nav
								li.sidebar__nav-item.current
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-file-tray")
										.sidebar__nav-item-text Заявки
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-newspaper")
										.sidebar__nav-item-text Договоры
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-doc")
										.sidebar__nav-item-text Обращения НМЦ
						.sidebar__section.sidebar__section--info
							ul.sidebar__nav
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-book")
										.sidebar__nav-item-text Справка
						.sidebar__section
							.manager
								.manager__main
									.manager__ava
										img(src="img/avatar-manager.png", alt="")
									.manager__name Менеджер Иванова А.А.
									a(href="#").btn.manager__btn Связаться
								.manager__contacts
									a(href="#").btn.btn-contacts
										img(src="img/icon-viber.svg" width="32" height="32" alt="")
						.sidebar__section
							a(href="#").support
								.support__icon
									+sprite("icon-chat")
								.support__heading Служба поддержки

				main.main
					.content
						.content-inner
							.form-application__top
								.go-back.go-back--form-application
									a(href="#") < Назад в мои заявки
								.heading-base.heading-base--large.form-application__top-heading.is-lg-visible Новая заявка
							.form-application__steps
								ul.form-steps
									li.form-steps__item.active
										.form-steps__item-text 
											span.is-lg-hidden Шаг 1: 
											|  Заявитель
									li.form-steps__item.active
										.form-steps__item-text 
											span.is-lg-hidden Шаг 2: 
											|  Контактное лицо по сделке
									li.form-steps__item.active
										.form-steps__item-text 
											span.is-lg-hidden Шаг 3: 
											|  Руководитель организации
									li.form-steps__item.active.current
										.form-steps__item-text 
											span.is-lg-hidden Шаг 4: 
											|  Предмет лизинга/аренды
									li.form-steps__item
										.form-steps__item-text 
											span.is-lg-hidden Шаг 5: 
											|  Условия лизинга/аренды
									li.form-steps__item
										.form-steps__item-text 
											span.is-lg-hidden Шаг 6: 
											|  Дополнительные условия
									li.form-steps__item
										.form-steps__item-text 
											span.is-lg-hidden Шаг 7: 
											|  Загрузить документы
							.form-application__main.form-application__main--step4
								.form-application__row-items.form-application__row-items--create-app.form-application__row-items--gap-small
									.form-application__row.form-application__row--check
										label.checkbox-base
											input(type="checkbox" checked hidden)
											span.checkbox-base__icon
												+sprite("icon-check")
											span.checkbox-base__text Заявка на аренду
									.form-application__row
										.form-application__row-heading.form-application__row-heading--width-normal
											.field-heading Вид имущества
												span.field-heading__require *
										.form-application__row-content
											.select.select--width-base
												input(type="text" placeholder="Выберите из списка").input-base.input-base--select.select__input.input-base--height-small
												.select__icon
													+sprite("icon-chevron-up")
												ul.select__list.select__list--type-of-property
													li.select__list-item
														.select__list-item-main Авиатранспорт
													li.select__list-item
														.select__list-item-main Автотранспорт
													li.select__list-item
														.select__list-item-main Водный транспорт
													li.select__list-item
														.select__list-item-main Дорожно-строительная техника
													li.select__list-item
														.select__list-item-main Железнодорожный транспорт
													li.select__list-item
														.select__list-item-main Недвижимость
													li.select__list-item
														.select__list-item-main Оборудование
													li.select__list-item
														.select__list-item-main С/х техника
													li.select__list-item(data-target="type-other")
														.select__list-item-main Прочее
									.form-application__row.hidden(data-item="type-other")
										.form-application__row-heading.form-application__row-heading--width-normal
										.form-application__row-content
												input(type="text" placeholder="Введите вид имущества").input-base.input-base--width-base.input-base--height-small
									.form-application__row
										.form-application__row-heading.form-application__row-heading--width-normal
											.field-heading Ставка НДС
												span.field-heading__require *
										.form-application__row-content
											.select.select--width-base
												input(type="text" placeholder="Выберите из списка").input-base.input-base--select.select__input.input-base--height-small
												.select__icon
													+sprite("icon-chevron-up")
												ul.select__list
													li.select__list-item
														.select__list-item-main Без НДС
													li.select__list-item
														.select__list-item-main 0%
													li.select__list-item
														.select__list-item-main 20%
								.form-application__add-item
									a.btn.btn-add-item
										+sprite("icon-add-circle")
										| Добавить предмет лизинга
								
								.add-items-wrapper
								
									.add-item
										.add-item__top
											.add-item__heading Предмет 1
											.tooltip.add-item__menu
												a.btn.add-item__menu-btn.tooltip__btn
													+sprite("icon-more-alt_vertical")
												ul.tooltip__menu.add-item__tooltip
													li.tooltip__menu-item
														a.tooltip__menu-item-link Сбросить форму
													li.tooltip__menu-item.tooltip__menu-item--cancel
														a.tooltip__menu-item-link Удалить предмет
										.add-item__row
											.add-item__row-section
												.form-application__row-items.form-application__row-items--create-app.form-application__row-items--gap-small
													.form-application__row
														.form-application__row-heading.form-application__row-heading--width-base
															.field-heading Поставщик
																span.field-heading__require *
														.form-application__row-content
															.select
																input(type="text" placeholder="Поиск по названию, ИНН").input-base.input-base--select.input-base--height-small.select__input
																.select__icon
																	+sprite("icon-chevron-up")
																ul.select__list.select__list--supplier
																	li.select__list-item
																		.select__list-item-main МУП "ПАТП №2"
																		.select__list-item-details ИНН 771537455874
																	li.select__list-item
																		.select__list-item-main МУП "ПАТП №22"
																		.select__list-item-details ИНН 771537487477
																	li.select__list-item
																		.select__list-item-main МУП "ПАТП №2223"
																		.select__list-item-details ИНН 771874537455
																	li.select__list-item
																		.select__list-item-main МУП "ПАТП №2332"
																		.select__list-item-details ИНН 771537455874
													.form-application__row
														.form-application__row-heading.form-application__row-heading--width-base
															.field-heading Название предмета аренды
																span.field-heading__require *
														.form-application__row-content
															input(type="text" placeholder="Укажите название").input-base.input-base--height-small
													.form-application__row
														.form-application__row-heading.form-application__row-heading--width-base
															.field-heading Спецификация
														.form-application__row-content
															input(type="text" placeholder="Укажите значение").input-base.input-base--height-small
													.form-application__row
														.form-application__row-heading.form-application__row-heading--width-base
															.field-heading Стоимость единицы с НДС (руб)
														.form-application__row-content
															input(type="text" placeholder="Укажите значение").input-base.input-base--height-small
											.add-item__row-section
												.form-application__row-items.form-application__row-items--create-app.form-application__row-items--gap-small
													.form-application__row
														.form-application__row-heading.form-application__row-heading--width-base
															.field-heading Количествр
														.form-application__row-content
															input(type="text" placeholder="Укажите значение").input-base.input-base--height-small
													.form-application__row
														.form-application__row-heading.form-application__row-heading--width-base
															.field-heading Срок поставки
																span.field-heading__require *
														.form-application__row-content
															input(type="text" placeholder="Укажите значение").input-base.input-base--height-small
								.form-application__row-items.form-application__row-items--padding-top-large
									.form-application__row
										.total-sum.total-sum--large
											span.total-sum__text Итоговая стоимость всего иммущества с НДС: 
											span.total-sum__value 36 420 000,00 ₽
									.form-application__row
										.form-application__nav.form-application__nav--create-app
											a(href="#").btn.btn-nav.btn-nav--back Назад
											a(href="#").btn.btn-nav.btn-nav--continue Продолжить
											a(href="#").btn.btn-nav.btn-nav--save Сохранить


					footer.footer
						.container
							.footer__section.d-flex.justify-content-end
								ul.footer__menu
									li
										a(href="#") О нас
									li
										a(href="#") Реквизиты
									li
										a(href="#") Политика в отношении обработки персональных данных в АО “ГТЛК”
							hr
							.footer__section.d-flex.justify-content-between.align-items-center
								.footer__copyright © 2023 АО ГТЛК
								ul.footer__menu
									li
										a(href="tel:88002001299") 8-800-200-12-99
									li
										a(href="mailto:gtlk@gtlk.ru") gtlk@gtlk.ru
									li
										a(href="#") 125284, г. Москва, Ленинградский проспект д. 31 а, стр. 1
			
		include html/modals

		script(src="js/app.min.js")