include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

			header.header-main
				.container
					a(href="#")
						img(src="img/logo-GTLK_dark.png", width="166" height="52" alt="")
					ul.header-menu
						li
							a(href="#") Компания
						li
							a(href="#") Деятельность
						li
							a(href="#") Клиентам
						li
							a(href="#") Закупки
						li
							a(href="#") Инвесторам
						li
							a(href="#") Устойчивое развитие
						li
							a(href="#") Медиа
					form.header-search
						input(type="text").header-search__input
						.header-search__icon
							+sprite("icon-loop")
					.header-btns
						a(href="#").btn.header-btns__item
							+sprite("icon-bell")
						a(href="#").btn.header-btns__item
							+sprite("icon-user")

						
			.main-row

				aside.sidebar
					.sidebar__inner
						.sidebar__section
							ul.sidebar__nav
								li.sidebar__nav-item.current
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-file-tray")
										.sidebar__nav-item-text Заявки
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-newspaper")
										.sidebar__nav-item-text Договоры
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-doc")
										.sidebar__nav-item-text Обращения НМЦ
						.sidebar__section.sidebar__section--info
							ul.sidebar__nav
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-book")
										.sidebar__nav-item-text Справка
						.sidebar__section
							.manager
								.manager__ava
									img(src="img/avatar-manager.png", alt="")
								.manager__name Менеджер Иванова А.А.
								a(href="#").btn.manager__btn Связаться
						.sidebar__section
							a(href="#").support
								.support__icon
									+sprite("icon-chat")
								.support__heading Служба поддержки

				main.main
					.content
						.content-inner
							.create__top
								.go-back.go-back--create
									a(href="#") < Назад в мои заявки
								.heading-base.heading-base--large Новая заявка
							.create__steps
								ul.form-steps
									li.form-steps__item.active
										.form-steps__item-text Заявитель
									li.form-steps__item.active
										.form-steps__item-text Контактное лицо по сделке
									li.form-steps__item.active
										.form-steps__item-text Руководитель организации
									li.form-steps__item.active
										.form-steps__item-text Предмет лизинга/аренды
									li.form-steps__item.active
										.form-steps__item-text Условия лизинга/аренды
									li.form-steps__item.active
										.form-steps__item-text Дополнительные условия
									li.form-steps__item
										.form-steps__item-text Загрузить документы
							
							.create__main
								.application-docs
									.application-docs__head
										.application-info.application-info--rejected.application-info--width-large2
											.application-info__main
												.application-info__icon
													+sprite("icon-circle-alert")
												.application-info__text
													.application-info__text-heading Документы, отмеченные символом
														span.application-info__text-heading-icon
															+sprite("icon-circle-alert")
														|, обязательны к загрузке. Не загрузив их, вы не сможете продолжить. Остальные документы можно загрузить после регистрации заявки.
										.application-info.application-info--done.application-info--width-large2
											.application-info__main
												.application-info__icon
													+sprite("icon-done")
												.application-info__text
													.application-info__text-heading Вы загрузили обязательные документы. Остальные документы можете загрузить позже.
										.application-docs__top
											.heading-base.heading-base--medium Загрузите документы
											.progress
												.progress-bar(data-progress="15%")
												.progress__value-text 15%
										.application-info.application-info--base
											.application-info__main
												.application-info__icon
													+sprite("icon-info")
												.application-info__text
													.application-info__text-heading Поставьте галочку, если документ(ы) содержат персональные данные
									.application-docs__section
										.application-docs__section-top
											.application-docs__section-heading Юридические
											div
												+sprite("icon-chevron-up")
										.application-docs__content
											table.docs-table
												thead
													tr
														th(style="width: 48%") Название документа
														th(style="width: 14%") Вид документа
														th(style="width: 38%") Загрузка
												tbody
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Выписка из ЕГРЮЛ с установочными данными учредителей и руководителя, выданная не позднее 30 дней на дату ее предоставления в ПАО «ГТЛК» (удостоверенная нотариально либо оригинал)
														td Выписка из ЕГРЮЛ
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Свидетельство о внесении записи в ЕГРЮЛ о юридическом лице, либо Свидетельство о внесении в ЕГРЮЛ записи о юридическом лице, зарегистрированном до 01.07.2002 г.
														td Свидетельство ОГРН
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	label.btn.btn-action
																		+sprite("icon-pencil") 
																		| Подписать
																		input(type="file" hidden)
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Выписка из ЕГРЮЛ с установочными данными учредителей и руководителя, выданная не позднее 30 дней на дату ее предоставления в ПАО «ГТЛК» (удостоверенная нотариально либо оригинал)
														td Выписка из ЕГРЮЛ
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Выписка из ЕГРЮЛ с установочными данными учредителей и руководителя, выданная не позднее 30 дней на дату ее предоставления в ПАО «ГТЛК» (удостоверенная нотариально либо оригинал)
														td Выписка из ЕГРЮЛ
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Выписка из ЕГРЮЛ с установочными данными учредителей и руководителя, выданная не позднее 30 дней на дату ее предоставления в ПАО «ГТЛК» (удостоверенная нотариально либо оригинал)
														td Протокол (решение) уполномоченного орган... длинное длинное длинное название
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Выписка из ЕГРЮЛ с установочными данными учредителей и руководителя, выданная не позднее 30 дней на дату ее предоставления в ПАО «ГТЛК» (удостоверенная нотариально либо оригинал)
														td Выписка из ЕГРЮЛ
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
									.application-docs__section
										.application-docs__section-top
											.application-docs__section-heading Бухгалтерские и финансовые
											div
												+sprite("icon-chevron-up")
										.application-docs__content
											table.docs-table
												thead
													tr
														th(style="width: 48%") Название документа
														th(style="width: 14%") Вид документа
														th(style="width: 38%") Загрузка
												tbody.docs-table__section
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														th(colspan="3").docs-table__subheading Бухгалтерская отчётность за последние 5 отчётных периодов
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														th(colspan="3").docs-table__subheading Бухгалтерская отчётность за последние 5 отчётных периодов
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														th(colspan="3").docs-table__subheading 
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Принадлежу к Группе компаний
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
									.application-docs__section
										.application-docs__section-top
											.application-docs__section-heading Прочие
											div
												+sprite("icon-chevron-up")
										.application-docs__content
											table.docs-table
												thead
													tr
														th(style="width: 48%") Название документа
														th(style="width: 14%") Вид документа
														th(style="width: 38%") Загрузка
												tbody
													tr
														td
															.table-td-main
																.table-td-alert
																	+sprite("icon-circle-alert")
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Выписка из ЕГРЮЛ с установочными данными учредителей и руководителя, выданная не позднее 30 дней на дату ее предоставления в ПАО «ГТЛК» (удостоверенная нотариально либо оригинал)
														td Выписка из ЕГРЮЛ
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Свидетельство о внесении записи в ЕГРЮЛ о юридическом лице, либо Свидетельство о внесении в ЕГРЮЛ записи о юридическом лице, зарегистрированном до 01.07.2002 г.
														td Свидетельство ОГРН
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	label.btn.btn-action
																		+sprite("icon-pencil") 
																		| Подписать
																		input(type="file" hidden)
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
									.application-docs__section
										.application-docs__section-top
											label.checkbox-base.application-docs__section-top-check
												input(type="checkbox" hidden)
												span.checkbox-base__icon
													+sprite("icon-check")
											.application-docs__section-heading Являюсь перевозчиком
											.application-docs__section-top-arrow.hidden
												+sprite("icon-chevron-up")
										.application-docs__content
											table.docs-table
												thead
													tr
														th(style="width: 48%") Название документа
														th(style="width: 14%") Вид документа
														th(style="width: 38%") Загрузка
												tbody.docs-table__section
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														th(colspan="3").docs-table__subheading Бухгалтерская отчётность за последние 5 отчётных периодов
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														th(colspan="3").docs-table__subheading Бухгалтерская отчётность за последние 5 отчётных периодов
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
												tbody.docs-table__section
													tr
														th(colspan="3").docs-table__subheading 
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Принадлежу к Группе компаний
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Анкета Лизингополучателя/Обеспечителя
														td Анкета клиента
														td
															.upload
																div Название документа.format
																.doc-info-bar
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Загружен
																	.notice
																		.notice__icon
																			+sprite("icon-check")
																		.notice__text Подписан
																	label.btn.btn-action
																		+sprite("icon-plus") 
																		| Добавить файл
																		input(type="file" hidden)
													tr
														td
															.table-td-main
																label.checkbox-base
																	input(type="checkbox" hidden)
																	span.checkbox-base__icon
																		+sprite("icon-check")
																| Устав в действующей редакции со всеми изменениями (с отметкой о регистрации в ФНС)
														td Устав
														td
															.upload.disabled
																div
																	label.btn.btn-upload
																		.btn-upload__icon
																			+sprite("icon-attachment")
																		| Загрузить с устройства
																		input(type="file" hidden)
																.upload__info Загрузите ОДИН файл, каждый до 3 мб, формат: pdf, word, format3
								.create__row-items.create__row-items--gap-medium
									.create__row
										.application-info.application-info--done.application-info--width-large
											.application-info__main
												.application-info__icon
													+sprite("icon-done")
												.application-info__text
													.application-info__text-heading Вы загрузили обязательные документы. Остальные документы можете загрузить позже.
									.create__row
										.application-info.application-info--rejected.application-info--width-large
											.application-info__main
												.application-info__icon
													+sprite("icon-circle-alert")
												.application-info__text
													.application-info__text-heading Документы, отмеченные символом
														span.application-info__text-heading-icon
															+sprite("icon-circle-alert")
														|, обязательны к загрузке. Не загрузив их, вы не сможете продолжить
									.create__row
										.create__nav
											a(href="#").btn.btn-nav.btn-nav--back Назад
											a(href="#").btn.btn-nav.btn-nav--continue Продолжить
											a(href="#").btn.btn-nav.btn-nav--save Сохранить

					footer.footer
						.container
							.footer__section.d-flex.justify-content-end
								ul.footer__menu
									li
										a(href="#") О нас
									li
										a(href="#") Реквизиты
									li
										a(href="#") Политика в отношении обработки персональных данных в АО “ГТЛК”
							hr
							.footer__section.d-flex.justify-content-between.align-items-center
								.footer__copyright © 2023 АО ГТЛК
								ul.footer__menu
									li
										a(href="tel:88002001299") 8-800-200-12-99
									li
										a(href="mailto:gtlk@gtlk.ru") gtlk@gtlk.ru
									li
										a(href="#") 125284, г. Москва, Ленинградский проспект д. 31 а, стр. 1
			
		include html/modals

		script(src="js/app.min.js")