include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

			header.header
				.container
					a(href="#")
						img(src="img/logo-GTLK_dark.png", width="166" height="52" alt="")
					ul.header-menu
						li
							a(href="#") Компания
						li
							a(href="#") Деятельность
						li
							a(href="#") Клиентам
						li
							a(href="#") Закупки
						li
							a(href="#") Инвесторам
						li
							a(href="#") Устойчивое развитие
						li
							a(href="#") Медиа
					form.header-search
						input(type="text").header-search__input
						.header-search__icon
							+sprite("icon-loop")
					ul.header-btns
						li.header-btns__item
							a(data-target="popup-notifications").btn.header-btns__link
								+sprite("icon-bell")
								.header-btns__item-indicator 2
							.popup-notifications(data-popup="popup-notifications")
								.popup-notifications__top
									.popup-notifications__heading Уведомления
									a(href="#").popup-notifications__link Прочитать все
								.popup-notifications__scroll-wrapper
									.popup-notifications__list
										ul.popup-notifications__list
											li
												.notification
													.notification__inner
														.notification__icon
															+sprite("icon-credit-card")
														.notification__content
															.notification__content-top
																.notification__heading Поступил счет по договору 123-ЗЛ-ОК
																a(href="#").btn.notification__btn-more
																	+sprite("icon-more-alt_vertical")
															.notification__desc
																p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
															.notification__bar
																a(href="#").notification__bar-link.link-base Перейти к оплате
																.notification__bar-date Сегодня в 14:32
														.notification__indicator.notification__indicator--is-new
											li
												.notification
													.notification__inner
														.notification__icon
															+sprite("icon-chat_stroke")
														.notification__content
															.notification__content-top
																.notification__heading Новый комментарий по сделке 123-ЗЛ-ОК
																a(href="#").btn.notification__btn-more
																	+sprite("icon-more-alt_vertical")
															.notification__desc
																p текст уведомления
															.notification__bar
																.notification__bar-date Сегодня в 14:32
														.notification__indicator.notification__indicator--is-new
											li
												.notification.notification--is-important
													.notification__inner
														.notification__icon
															+sprite("icon-alert")
														.notification__content
															.notification__content-top
																.notification__heading Необходимо обновить документы
																a(href="#").btn.notification__btn-more
																	+sprite("icon-more-alt_vertical")
															.notification__desc
																p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
															.notification__bar
																a(href="#").notification__bar-link.link-base Перейти к обновлению
																.notification__bar-date Вчера в 15:00
														.notification__indicator.notification__indicator--is-read
											li
												.notification.notification--is-important
													.notification__inner
														.notification__icon
															+sprite("icon-alert")
														.notification__content
															.notification__content-top
																.notification__heading Необходимо обновить документы
																a(href="#").btn.notification__btn-more
																	+sprite("icon-more-alt_vertical")
															.notification__desc
																p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
															.notification__bar
																a(href="#").notification__bar-link.link-base Перейти к обновлению
																.notification__bar-date Вчера в 15:00
														.notification__indicator.notification__indicator--is-read
								.popup-notifications__bottom
									a(href="#").popup-notifications__link Показать все			

								.popup-notifications__close(data-popup-close)
									+sprite("icon-close")

						li.header-btns__item
							a(data-target="popup-user-menu").btn.header-btns__link
								+sprite("icon-user")
							.user-menu(data-popup="popup-user-menu")
								ul.user-menu__list
									li.user-menu__list-item
										a(href="#").user-menu__list-item-link
											span.user-menu__list-item-icon
												+sprite("icon-user-stroke")
											| Профиль
									li.user-menu__list-item
										a(href="#").user-menu__list-item-link
											span.user-menu__list-item-icon
												+sprite("icon-calendar")
											| Журнал событий
								ul.user-menu__list
									li.user-menu__list-item
										a(href="#").user-menu__list-item-link
											span.user-menu__list-item-icon
												+sprite("icon-logout")
											| Выйти

						
			.main-row

				aside.sidebar
					.sidebar__inner
						.sidebar__section
							ul.sidebar__nav
								li.sidebar__nav-item.current
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-file-tray")
										.sidebar__nav-item-text Заявки
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-newspaper")
										.sidebar__nav-item-text Договоры
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-management")
										.sidebar__nav-item-text Управление контрагентами
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-settings")
										.sidebar__nav-item-text Настройки
						.sidebar__section.sidebar__section--info
							ul.sidebar__nav
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-book")
										.sidebar__nav-item-text Справка
						.sidebar__section
							a(href="#").support
								.support__icon
									+sprite("icon-chat")
								.support__heading Служба поддержки

				main.main
					.content
						.content-inner
							.go-back
								a(href="#") < Назад
							
							.wrapper-employees-list
								.heading-base.heading-base--employees-list Список сотрудников
								table.table-employees
									thead
										tr
											th(style="width:309px;") Сотрудник
											th(style="width:215px;") Номер телефона
											th(style="width:236px;") Почта
											th(style="width:188px;") Дата выдачи
											th(style="width:271px;") Статус
									tbody
										tr
											td Константинов Алексей Юрьевич
											td +7 (916) 000-00-00
											td.fs-16 kpatp-2@yandex.ru
											td 12.07.2023
												.color-gray 12:24
											td
												.td-status-bar
													.fs-16.text-status.text-status--positive Доступ выдан
													.tooltip
														a.btn.tooltip__btn.tooltip__btn--vertical
															+sprite("icon-more-alt")
														ul.tooltip__menu
															li.tooltip__menu-item
																a(href="#").tooltip__menu-item-link Редактировать
															li.tooltip__menu-item
																a(href="#modal-block-employeer" data-fancybox).tooltip__menu-item-link Заблокировать
															li.tooltip__menu-item.tooltip__menu-item--cancel
																a(href="#modal-remove-employeer" data-fancybox).tooltip__menu-item-link Удалить
										tr
											td Константинов Алексей Юрьевич
											td +7 (916) 000-00-00
											td.fs-16 kpatp-2@yandex.ru
											td 12.07.2023
												.color-gray 12:24
											td
												.td-status-bar
													.fs-16.text-status.text-status--positive Доступ выдан
													.tooltip
														a.btn.tooltip__btn.tooltip__btn--vertical
															+sprite("icon-more-alt")
														ul.tooltip__menu
															li.tooltip__menu-item
																a(href="#").tooltip__menu-item-link Редактировать
															li.tooltip__menu-item
																a(href="#modal-block-employeer" data-fancybox).tooltip__menu-item-link Заблокировать
															li.tooltip__menu-item.tooltip__menu-item--cancel
																a(href="#modal-remove-employeer" data-fancybox).tooltip__menu-item-link Удалить

							.wrapper-employeer-info
								.heading-base.heading-base--add-access Выдать новый доступ
								form.form-base
									.form-base__item
										.form-base__item-heading
											.field-heading ФИО
												span.field-heading__require *
										.form-base__item-main
											input(type="text" placeholder="Введите ФИО").input-base
									.form-base__item
										.form-base__item-heading
											.field-heading Номер телефона
												span.field-heading__require *
										.form-base__item-main
											input(type="tel" placeholder="+7").input-base
									.form-base__item
										.form-base__item-heading
											.field-heading Почта
												span.field-heading__require *
										.form-base__item-main
											input(type="email" placeholder="Введите почту").input-base
									.form-base__item
										.form-base__item-heading
											.field-heading Логин
												span.field-heading__require *
										.form-base__item-main
											input(type="text" placeholder="Введите логин").input-base
									.form-base__item
										.form-base__item-heading
											.field-heading Пароль
												span.field-heading__require *
										.form-base__item-main
											input(type="password" placeholder="Введите пароль").input-base
									.form-base__item.form-base__item--submit
										input(type="submit" value="Предоставить доступ").btn.btn-save.btn--fullwidth


					footer.footer
						.container
							.footer__section.d-flex.justify-content-end
								ul.footer__menu
									li
										a(href="#") О нас
									li
										a(href="#") Реквизиты
									li
										a(href="#") Политика в отношении обработки персональных данных в АО “ГТЛК”
							hr
							.footer__section.d-flex.justify-content-between.align-items-center
								.footer__copyright © 2023 АО ГТЛК
								ul.footer__menu
									li
										a(href="tel:88002001299") 8-800-200-12-99
									li
										a(href="mailto:gtlk@gtlk.ru") gtlk@gtlk.ru
									li
										a(href="#") 125284, г. Москва, Ленинградский проспект д. 31 а, стр. 1
			
		include html/modals

		script(src="js/app.min.js")