doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title gtlk
	body(style="font-family: arial; margin: 0; padding: 30px;")
		h1(style="margin: 0 0 20px; padding: 0;") Pages list:
		ul.page-list(style="list-style: numeric; display: inline-block; list-style-position: inside; margin: 0; padding: 0;")
			li(style="margin-bottom: 20px;")
				a(href="authorization.html" style="color: black; text-decoration: none;") authorization.html
			li(style="margin-bottom: 20px;")
				a(href="applications-table.html" style="color: black; text-decoration: none;") applications-table.html
			li(style="margin-bottom: 20px;")
				a(href="applications-table_drafts.html" style="color: black; text-decoration: none;") applications-table_drafts.html