include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

			include html/header
			.main-row

				aside.sidebar
					.sidebar__inner
						.sidebar__section
							ul.sidebar__nav
								li.sidebar__nav-item.current
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-file-tray")
										.sidebar__nav-item-text Заявки
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-newspaper")
										.sidebar__nav-item-text Договоры
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-doc")
										.sidebar__nav-item-text Обращения НМЦ
						.sidebar__section.sidebar__section--info
							ul.sidebar__nav
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-book")
										.sidebar__nav-item-text Справка
						.sidebar__section
							.manager
								.manager__main
									.manager__ava
										img(src="img/avatar-manager.png", alt="")
									.manager__name Менеджер Иванова А.А.
									a(href="#").btn.manager__btn Связаться
								.manager__contacts
									a(href="#").btn.btn-contacts
										img(src="img/icon-viber.svg" width="32" height="32" alt="")
						.sidebar__section
							a(href="#").support
								.support__icon
									+sprite("icon-chat")
								.support__heading Служба поддержки

				main.main
					.content
						.content-inner.application-content.profile
							.application-content__main
								.application-top
									.application-top__heading
										.heading-base.heading-base--large Профиль
								.application-main
									ul.tabs-profile
										li(data-tab-btn).current
											a(href="#profile-user") Профиль пользователя
										li(data-tab-btn)
											a(href="#profile-org") Профиль организации
									ul.profile-nav-btns
										li
											a(href="#").btn.btn-details Общая информация
										//- li
										//- 	a(href="#").btn.btn-details.btn-details--theme-outline-white Уведомления
									.tab-content.current#profile-user
										.application-main__row.application-main__section
											.application-main__row-col-first
												.application-main__section
													table.details-table.details-table--application
														tr
															td.td-details-main Ф.И.О. контактного лица со стороны Заявителя
															td.td-details-content Абдулхаков Артур Маратович
														tr
															td.td-details-main E-mail
															td.td-details-content kpatp-2@yandex.ru
														tr
															td.td-details-main Телефон
															td.td-details-content +7 (843) 262-06-76
											.application-main__row-col-sec
												.application-main__section
													.heading-base.heading-base--normal.heading-base--application Контактная информация
													table.info-table
														tbody
															tr
																td.td-info-main Менеджер
																td Анна
															tr
																td.td-info-main E-mail для обращений
																td Ivanova@gtlk.ru
															tr
																td.td-info-main Внутренний номер сотрудника
																td 8-800-200-12-99 (доб. 101)
															tr
																td.td-info-main Мобильный телефон
																td 8-916-555-88-99
									.tab-content#profile-org
										.application-main__row.application-main__section
											.application-main__row-col-first
												.application-main__section
													table.details-table.details-table--application.details-table--organization
														tr
															td.td-details-org-main Полное наименование организации
															td.td-details-org-content МУНИЦИПАЛЬНОЕ УНИТАРНОЕ ПРЕДПРИЯТИЕ Г.КАЗАНИ "ПАССАЖИРСКОЕ ABTOTPAHCПOPTHOE ПРЕДПРИЯТИЕ Хв2"
														tr
															td.td-details-org-main Краткое наименование
															td.td-details-org-content МУП "ПАТП №2
														tr
															td.td-details-org-main Ф.И.О. руководителя
															td.td-details-org-content Мухаметшин Альберт Ахатович
														tr
															td.td-details-org-main E-mail
															td.td-details-org-content kpatp-2@yandex.ru
														tr
															td.td-details-org-main Телефон
															td.td-details-org-content +7 (843) 262-06-76
														tr
															td.td-details-org-main Факс
															td.td-details-org-content +7 (843) 262-06-76
														tr
															td.td-details-org-main ИНН
															td.td-details-org-content 1660005127
														tr
															td.td-details-org-main КПП
															td.td-details-org-content 166001001
														tr
															td.td-details-org-main ОГРН
															td.td-details-org-content 1021603617133
														tr
															td.td-details-org-main ОКПО
															td.td-details-org-content 05151873
														tr
															td.td-details-org-main Код ОКОПФ
															td.td-details-org-content 1 10 00
														tr
															td.td-details-org-main ОКВЭД
															td.td-details-org-content 01
														tr
															td.td-details-org-main ОКТМО
															td.td-details-org-content 36602404
														tr
															td.td-details-org-main Фактический адрес
															td.td-details-org-content 420087, Республика Татарстан, город Казань, улица Крылова, дом 3
														tr
															td.td-details-org-main Юридический адрес
															td.td-details-org-content 420087, Республика Татарстан, город Казань, улица Крылова, дом 3
														tr
															td.td-details-org-main Расчетный счет
															td.td-details-org-content 4060281020000000058
														tr
															td.td-details-org-main Банк
															td.td-details-org-content ООО КБЭР «Банк-Казани»
														tr
															td.td-details-org-main Корреспондентский счет
															td.td-details-org-content 30101810100000000844
														tr
															td.td-details-org-main БИК
															td.td-details-org-content 049205844

					footer.footer
						.container
							.footer__section.d-flex.justify-content-end
								ul.footer__menu
									li
										a(href="#") О нас
									li
										a(href="#") Реквизиты
									li
										a(href="#") Политика в отношении обработки персональных данных в АО “ГТЛК”
							hr
							.footer__section.d-flex.justify-content-between.align-items-center
								.footer__copyright © 2023 АО ГТЛК
								ul.footer__menu
									li
										a(href="tel:88002001299") 8-800-200-12-99
									li
										a(href="mailto:gtlk@gtlk.ru") gtlk@gtlk.ru
									li
										a(href="#") 125284, г. Москва, Ленинградский проспект д. 31 а, стр. 1
			
		include html/modals

		script(src="js/app.min.js")