include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

			header.header-main
				.container
					a(href="#")
						img(src="img/logo-GTLK_dark.png", width="166" height="52" alt="")
					ul.header-menu
						li
							a(href="#") Компания
						li
							a(href="#") Деятельность
						li
							a(href="#") Клиентам
						li
							a(href="#") Закупки
						li
							a(href="#") Инвесторам
						li
							a(href="#") Устойчивое развитие
						li
							a(href="#") Медиа
					form.header-search
						input(type="text").header-search__input
						.header-search__icon
							+sprite("icon-loop")
					.header-btns
						a(href="#").btn.header-btns__item
							+sprite("icon-bell")
						a(href="#").btn.header-btns__item
							+sprite("icon-user")

						
			.main-row

				aside.sidebar
					.sidebar__inner
						.sidebar__section
							ul.sidebar__nav
								li.sidebar__nav-item.current
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-file-tray")
										.sidebar__nav-item-text Заявки
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-newspaper")
										.sidebar__nav-item-text Договоры
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-doc")
										.sidebar__nav-item-text Обращения НМЦ
						.sidebar__section.sidebar__section--info
							ul.sidebar__nav
								li.sidebar__nav-item
									a(href="#").sidebar__nav-item-btn
										.sidebar__nav-item-icon
											+sprite("icon-book")
										.sidebar__nav-item-text Справка
						.sidebar__section
							.manager
								.manager__ava
									img(src="img/avatar-manager.png", alt="")
								.manager__name Менеджер Иванова А.А.
								a(href="#").btn.manager__btn Связаться
						.sidebar__section
							a(href="#").support
								.support__icon
									+sprite("icon-chat")
								.support__heading Служба поддержки

				main.main
					.content
						.content-inner.application-content.profile
							.application-content__main
								.application-top
									.application-top__heading
										.heading-base.heading-base--large Профиль
								.application-main
									ul.tabs
										li
											a(href="#") Профиль пользователя
										li.current
											a(href="#") Профиль организации
									.profile__common-btn
										a(href="#").btn.btn-details Общая Информация
									.application-main__row.application-main__section
										.application-main__row-col-first
											.application-main__section
												table.details-table.details-table--organization
													tr
														td(style="width:29%") Полное наименование организации
														td(style="width:71%") МУНИЦИПАЛЬНОЕ УНИТАРНОЕ ПРЕДПРИЯТИЕ Г.КАЗАНИ "ПАССАЖИРСКОЕ ABTOTPAHCПOPTHOE ПРЕДПРИЯТИЕ Хв2"
													tr
														td(style="width:29%") Краткое наименование
														td(style="width:71%") МУП "ПАТП №2
													tr
														td(style="width:29%") Ф.И.О. руководител
														td(style="width:71%") Мухаметшин Альберт Ахатович
													tr
														td(style="width:29%") E-mail
														td(style="width:71%") kpatp-2@yandex.ru
													tr
														td(style="width:29%") Телефон
														td(style="width:71%") +7 (843) 262-06-76
													tr
														td(style="width:29%") Факс
														td(style="width:71%") +7 (843) 262-06-76
													tr
														td(style="width:29%") ИНН
														td(style="width:71%") 1660005127
													tr
														td(style="width:29%") КПП
														td(style="width:71%") 166001001
													tr
														td(style="width:29%") ОГРН
														td(style="width:71%") 1021603617133
													tr
														td(style="width:29%") ОКПО
														td(style="width:71%") 05151873
													tr
														td(style="width:29%") Код ОКОПФ
														td(style="width:71%") 1 10 00
													tr
														td(style="width:29%") ОКВЭД
														td(style="width:71%") 01
													tr
														td(style="width:29%") ОКТМО
														td(style="width:71%") 36602404
													tr
														td(style="width:29%") Фактический адрес
														td(style="width:71%") 420087, Республика Татарстан, город Казань, улица Крылова, дом 3
													tr
														td(style="width:29%") Юридический адрес
														td(style="width:71%") 420087, Республика Татарстан, город Казань, улица Крылова, дом 3
													tr
														td(style="width:29%") Расчетный счет
														td(style="width:71%") 4060281020000000058
													tr
														td(style="width:29%") Банк
														td(style="width:71%") ООО КБЭР «Банк-Казани»
													tr
														td(style="width:29%") Корреспондентский счет
														td(style="width:71%") 30101810100000000844
													tr
														td(style="width:29%") БИК
														td(style="width:71%") 049205844

					footer.footer
						.container
							.footer__section.d-flex.justify-content-end
								ul.footer__menu
									li
										a(href="#") О нас
									li
										a(href="#") Реквизиты
									li
										a(href="#") Политика в отношении обработки персональных данных в АО “ГТЛК”
							hr
							.footer__section.d-flex.justify-content-between.align-items-center
								.footer__copyright © 2023 АО ГТЛК
								ul.footer__menu
									li
										a(href="tel:88002001299") 8-800-200-12-99
									li
										a(href="mailto:gtlk@gtlk.ru") gtlk@gtlk.ru
									li
										a(href="#") 125284, г. Москва, Ленинградский проспект д. 31 а, стр. 1
			
		include html/modals

		script(src="js/app.min.js")