include html/mixins

doctype html
block head
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper.wrapper-main

				main.main
					.content-inner
						div(style="display:flex;flex-direction:column;align-items:flex-start;gap:10px;padding-bottom: 300px;")
							a(href="#").btn.btn-submit.btn-submit--size-normal Test
							a(href="#").btn.btn-submit.btn-submit--size-large Test
							a(href="#").btn.btn-submit.btn-submit--size-normal.btn-submit--cookies Test
							a(href="#").btn.btn-base Test
							a(href="#").btn.btn-filling.btn-filling--positive Test
							a(href="#").btn.btn-filling.btn-filling--negative Test
							a(href="#").btn.btn-confirm.btn-confirm--positive Test
							a(href="#").btn.btn-confirm.btn-confirm--negative Test
							a(href="#").btn.btn-nav.btn-nav--cancel Test
							a(href="#").btn.btn-nav.btn-nav--annul Test
							a(href="#").btn.btn-nav.btn-nav--back Test
							a(href="#").btn.btn-nav.btn-nav--continue Test
							a(href="#").btn.btn-nav.btn-nav--save Test
							a(href="#").btn.btn-nav.btn-nav--back-cancel Test
							a(href="#").btn.btn-nav.btn-nav--send Test
							a(href="#").btn.btn-nav.btn-nav--waiting Test
							a(href="#").btn.btn-nav.btn-nav--continue.disabled Test
							a(href="#").btn.btn-app Test
							a(href="#").btn.btn-search Test
							a(href="#").btn.btn-details Test
							a(href="#").btn.btn-details.btn-details--theme-light-blue Test
							a(href="#").btn.btn-save Test
							label.auth-checkbox
								input(type="checkbox" hidden)
								span.auth-checkbox__icon
									+sprite("icon-check")
								span.auth-checkbox__text Запомнить меня на этом компьютере
							div(style="display:flex; gap: 30px;")
								a(href="#").support
									.support__icon
										+sprite("icon-chat")
									.support__heading Служба поддержки
								a(href="#").support
									.support__icon
										+sprite("icon-chat")
										.support__indicator 1
									.support__heading Служба поддержки
							.form-application__row-content.form-application__row-content--width-medium
								input(type="text" placeholder="Test").input-base
							.form-application__row-content.form-application__row-content--width-medium
								input(type="text" placeholder="Test").input-base.is-error
								.input-error-text Это обязательное поле для заполнения
							br
							ul.header-btns
								li.header-btns__item
									a(data-target="popup-notifications").btn.header-btns__link
										+sprite("icon-bell")
										.header-btns__item-indicator 2
									.popup-notifications(data-popup="popup-notifications")
										.popup-notifications__top
											.popup-notifications__heading Уведомления
											a(href="#").popup-notifications__link Прочитать все
										.popup-notifications__scroll-wrapper
											.popup-notifications__list
												ul.popup-notifications__list
													li
														.notification
															.notification__inner
																.notification__icon
																	+sprite("icon-credit-card")
																.notification__content
																	.notification__content-top
																		.notification__heading Поступил счет по договору 123-ЗЛ-ОК
																		a(href="#").btn.notification__btn-more
																			+sprite("icon-more-alt_vertical")
																	.notification__desc
																		p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
																	.notification__bar
																		a(href="#").notification__bar-link.link-base Перейти к оплате
																		.notification__bar-date Сегодня в 14:32
																.notification__indicator.notification__indicator--is-new
													li
														.notification
															.notification__inner
																.notification__icon
																	+sprite("icon-chat_stroke")
																.notification__content
																	.notification__content-top
																		.notification__heading Новый комментарий по сделке 123-ЗЛ-ОК
																		a(href="#").btn.notification__btn-more
																			+sprite("icon-more-alt_vertical")
																	.notification__desc
																		p текст уведомления
																	.notification__bar
																		.notification__bar-date Сегодня в 14:32
																.notification__indicator.notification__indicator--is-new
													li
														.notification.notification--is-important
															.notification__inner
																.notification__icon
																	+sprite("icon-alert")
																.notification__content
																	.notification__content-top
																		.notification__heading Необходимо обновить документы
																		a(href="#").btn.notification__btn-more
																			+sprite("icon-more-alt_vertical")
																	.notification__desc
																		p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
																	.notification__bar
																		a(href="#").notification__bar-link.link-base Перейти к обновлению
																		.notification__bar-date Вчера в 15:00
																.notification__indicator.notification__indicator--is-read
													li
														.notification.notification--is-important
															.notification__inner
																.notification__icon
																	+sprite("icon-alert")
																.notification__content
																	.notification__content-top
																		.notification__heading Необходимо обновить документы
																		a(href="#").btn.notification__btn-more
																			+sprite("icon-more-alt_vertical")
																	.notification__desc
																		p Предварительные выводы неутешительны: повышение уровня гражданского сознания предопределяет высокую востребованность инновационных методов управления процессами.
																	.notification__bar
																		a(href="#").notification__bar-link.link-base Перейти к обновлению
																		.notification__bar-date Вчера в 15:00
																.notification__indicator.notification__indicator--is-read
										.popup-notifications__bottom
											a(href="#").popup-notifications__link Показать все			

										.popup-notifications__close(data-popup-close)
											+sprite("icon-close")

								li.header-btns__item
									a(data-target="popup-user-menu").btn.header-btns__link
										+sprite("icon-user")
									.user-menu(data-popup="popup-user-menu")
										ul.user-menu__list
											li.user-menu__list-item
												a(href="#").user-menu__list-item-link
													span.user-menu__list-item-icon
														+sprite("icon-user-stroke")
													| Профиль
											li.user-menu__list-item
												a(href="#").user-menu__list-item-link
													span.user-menu__list-item-icon
														+sprite("icon-calendar")
													| Журнал событий
										ul.user-menu__list
											li.user-menu__list-item
												a(href="#").user-menu__list-item-link
													span.user-menu__list-item-icon
														+sprite("icon-logout")
													| Выйти
							h4(style="margin:0;padding:0;") Модальные окна:
							ul(style="margin:0;padding:0;")
								li
									a(href="#modal-continue-filling" data-modal) Продолжить заполнение?
								li
									a(href="#modal-remove-draft" data-modal) Вы уверены, что хотите удалить черновик?
								li
									a(href="#modal-block-counterparty" data-modal) Вы уверены, что хотите заблокировать контрагента?
								li
									a(href="#modal-remove-counterparty" data-modal) Вы уверены, что хотите удалить контрагента?
								li
									a(href="#modal-block-employeer" data-modal) Вы уверены, что хотите заблокировать сотрудника?
								li
									a(href="#modal-remove-employeer" data-modal) Вы уверены, что хотите удалить сотрудника?
								li
									a(href="#modal-annul" data-modal) Аннулировать заявку
								li
									a(href="#modal-new-version" data-modal) Создать новую версию заявки
								li
									a(href="#modal-app-sent" data-modal) Ваша заявка отправлена
								li
									a(href="#modal-counterparty-added" data-modal) Контрагент добавлен в систему
								li
									a(href="#modal-employeer-added" data-modal) Сотрудник добавлен
								li
									a(href="#modal-counterparties-changes-saved" data-modal) Изменения сохранены (Контрагент)
								li
									a(href="#modal-employeer-changes-saved" data-modal) Изменения сохранены (Сотрудник)
								li
									a(href="#modal-contact" data-modal) Вы можете связаться с нами
								li
									a(href="#modal-contact-manager" data-modal) Связаться с менеджером
								li
									a(href="#modal-request" data-modal) Создать обращение
								li
									a(href="#modal-request-success" data-modal) Ваше обращение успешно отправлено
								li
									a(href="#modal-logout" data-modal) Вы уверены, что хотите выйти из системы?
							.select.select--width-base
								input(type="text" placeholder="Выберите из списка").input-base.input-base--select.select__input
								.select__icon
									+sprite("icon-chevron-up")
								ul.select__list
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3
							.select.select--width-base
								.input-base.input-base--select.select__input.input-base--no-search Select без поиска
								.select__icon
									+sprite("icon-chevron-up")
								ul.select__list
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3
							.select.select--width-base
								input(type="text" placeholder="Select много опций").input-base.input-base--select.select__input
								.select__icon
									+sprite("icon-chevron-up")
								ul.select__list
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3
									li.select__list-item
										.select__list-item-main Test
									li.select__list-item
										.select__list-item-main Test 2
									li.select__list-item
										.select__list-item-main Test 3

		include html/modals

		script(src="js/app.min.js")