.application-info {
	border: 1px solid;
	padding: 12px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	// margin-top: 15px;
	width: 100%;
	max-width: 845px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	@media (min-width: $md) {
		flex-direction: row;
		gap: 0;
		align-items: center;
	}

	&--width-large {
		max-width: 1141px;
	}
	&--width-large2 {
		max-width: 1363px;
	}
	&__main {
		display: flex;
		align-items: center;
		gap: 8px;
		flex-grow: 1;
		width: 100%;
	}
	&__icon {
		flex-shrink: 0;
		line-height: 0;
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 8px;
		&-heading {
			font-size: 14px;
			line-height: 16px;
			&-icon {
				margin: 0 4px;
				line-height: 0;
				.icon-circle-alert {
					width: 13px;
					height: 13px;
				}
			}
		}
		p {
			font-size: 12px;
			line-height: 16px;
		}
	}
	&__close {
		width: 20px;
		height: 20px;
		margin-left: auto;
		flex-shrink: 0;
		cursor: pointer;
		.icon-close {
			width: 12px;
			height: 12px;
			fill: #0C2A75;
		}
	}
	&__btn {
		font-size: 15px;
		line-height: 20px;
		font-weight: 500;
		font-family: $fontSecond;
		border-radius: 4px;
		height: 28px;
		border: 1px solid;
		padding: 5px 15px;
		flex-shrink: 0;
		@media (max-width: $md - 1px) {
			margin-left: 29px;
		}
		&:hover {
			background: #509AF8;
			color: var(--color-white);
		}
	}

	&--base {
		border-color: #509AF8;
		background: #D7F1FD;
		.application-info {
			&__text {
				color: #0C2A75;				
			}
			&__btn {
				border-color: #509AF8;
				color: #0C2A75;
				&:hover {
					background: #509AF8;
					color: var(--color-white);
				}
			}
		}
	}
	&--rejected {
		background: #FCE8DB;
		border-color: #EF665B;
		.application-info {
			&__text {
				color: #71192F;				
			}
			&__icon {
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	&--done {
		background: #EDFBD8;
		border-color: #84D65A;
		.application-info {
			&__text {
				color: #2B641E;
			}
			&__icon {
				svg {
					width: 20px;
					height: 20px;
					fill: #84D65A;
				}
			}
		}
	}
	&--replaced {
		background: #FCE8DB;
		border-color: #EF665B;
		.application-info {
			&__text {
				color: #71192F;				
			}
			&__icon {
				svg {
					width: 20px;
					height: 20px;
				}
			}
			&__btn {
				border-color: #EF665B;
				color: #71192F;
				&:hover {
					background: #EF665B;
					color: var(--color-white);
				}
			}
		}
	}

	&--page-apps {
		margin-top: 20px;
	}
	&--page-counterparties {
		margin-bottom: 20px;
	}
	&--page-contracts {
		margin-bottom: 30px;
	}
	&--employees {
		margin-bottom: 20px;
	}
}