.application-content {
	display: flex;
	align-items: flex-start;
	min-height: 100%;
	&--float {
		display: block;
	}
	&__main {
		flex-grow: 1;
	}
	&__side {
		float: right;
		order: 2;
		margin-left: 115px;
		width: 413px;
		flex-shrink: 0;
		padding-right: 35px;
		&-section {
			padding-top: 27px;
			padding-bottom: 30px;
			.heading-base {
				margin-bottom: 35px;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #BEBEBE;
			}

			&--first {
				padding-top: 70px;
				padding-bottom: 65px;
			}
			&--actions {
				// min-height: 460px;
			}
		}
	}
}

body {
	&.tab-docs-active {
		.application-content__side-section:not(.application-content__side-section--first) {
			display: none;
		}
		.application-content {
			display: block;
			&__side {
				float: right;
			}
			&::after {
				content: "";
				clear: both;
				display: table;
			}
		}
	}
}