.application-main {

	&__section {
		&:not(:last-child) {
			padding-bottom: 40px;
		}
		&--item {
			&:not(:last-child) {
				padding-bottom: 40px;
				@media (min-width: $lg) {
					padding-bottom: 80px;
				}
			}
		}
		&--width-medium {
			max-width: 1150px;
		}
	}
	&__row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@media (min-width: $lg) {
			gap: 30px;
		}
		@media (min-width: $xl) {
			flex-wrap: nowrap;
			gap: 40px;
		}
		&-col-first {
			flex-grow: 1;
			@media (min-width: $lg) {
				width: 59%;
			}
		}
		&-col-sec {
			@media (min-width: $xl) {
				width: 41%;
				// width: 691px;
			}
		}
	}
}