.application-main {

	&__section {
		&:not(:last-child) {
			padding-bottom: 40px;
		}
		&--item {
			&:not(:last-child) {
				padding-bottom: 80px;
			}
		}
		&--width-medium {
			max-width: 1150px;
		}
	}
	&__row {
		width: 100%;
		display: flex;
		gap: 40px;
		&-col-first {
			flex-grow: 1;
		}
		&-col-sec {
			width: 691px;
		}
	}
}