.application-content {
	display: flex;
	align-items: flex-start;
	&--float {
		display: block;
	}
	&__main {
		flex-grow: 1;
	}
	&__side {
		margin-left: 115px;
		width: 413px;
		padding-right: 35px;
		&-section {
			padding-top: 27px;
			padding-bottom: 30px;
			.heading-base {
				margin-bottom: 35px;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #BEBEBE;
			}
			&:last-child {
				padding-bottom: 0;
			}

			&--first {
				padding-top: 70px;
				padding-bottom: 65px;
			}
			&--actions {
				min-height: 460px;
			}
		}
	}
}