.application-docs {
	&__head {
		padding-bottom: 50px;
		.application-info {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	&__top {
		display: flex;
		gap: 20px;
		align-items: center;
		padding-bottom: 20px;
	}

	&__section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:not(:last-child) {
			padding-bottom: 30px;
		}
		&-top {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			gap: 10px;
			padding-bottom: 10px;
			.icon-chevron-up {
				transition: .25s;
				transform: rotate(180deg);
			}
		}
		&-heading {
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			color: rgba(var(--color-black-base));
		}
		&.opened {
			.application-docs__section-top .icon-chevron-up {
				transform: none;
			}
		}
	}

	&__content {
		display: none;
		overflow: hidden;
		padding-bottom: 10px;
	} 
}