.details-table {
	font-size: 16px;
	line-height: 18px;
	width: 100%;
	max-width: 840px;
	table-layout: fixed;
	th {
		padding: 10px 0;
		color: var(--color-gray2);
		text-decoration: underline;
		font-weight: 400;
		text-align: left;
	}
	td {
		padding: 10px 16px;
		&:first-child {
			color: var(--color-gray2);
			padding-left: 0;
		}
	}

	&--organization {
		td {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	&--profile {
		td {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
}