.notifications-items {
	display: flex;
	flex-direction: column;
	gap: 24px;
	
	@media (min-width: $hd) {
		padding-right: 27px;
	}

	&--base {
		gap: 10px;
	}
}

.notifications-top {
	padding-bottom: 10px;
	text-align: right;
	@media (min-width: $lg) {
		padding-bottom: 20px;
		text-align: left;
	}
}

.notification {
	background: #FFFFFF;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	position: relative;
	&--is-important {
		border-color: #E74C3C;
		padding-left: 8px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 8px;
			height: 100%;
			background: rgba(#E74C3C,.4);
			border-radius: 4px 0 0 4px;
		}
	}
	&__inner {
		display: flex;
		align-items: flex-start;
		padding: 12px 16px;
		position: relative;
		gap: 10px;
		@media (min-width: $lg) {
			gap: 16px;
		}
	}
	&__icon {
		flex-shrink: 0;
		padding-top: 4px;
	}
	&__content {
		flex-grow: 1;
		&-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 8px;
		}
	}
	&__heading {
		text-transform: uppercase;
		font-size: 10px;
		line-height: 16px;
		font-weight: 700;
		flex-grow: 1;
	}

	&__menu {
		flex-shrink: 0;
		margin: 0 -10px 0 0;
		line-height: 0;
	}
	&__desc {
		font-size: 12px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.56);
		font-family: $fontThird;
		padding-bottom: 10px;
	}
	&__bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		&-link {
			font-size: 14px;
			line-height: 20px;
		}
		&-date {
			font-size: 10px;
			line-height: 20px;
			color: rgba(0, 0, 0, 0.56);
			font-family: $fontThird;
			text-transform: uppercase;
			margin-left: auto;
			flex-shrink: 0;
		}
	}
	&__indicator {
		position: absolute;
		left: 7px;
		top: 7px;
		width: 8px;
		height: 8px;
		border: 1px solid;
		border-radius: 100%;
		&--is-new {
			background: #90CDF4;
			border: 1px solid #0085FF;
		}
		&--is-read {
			border-color: #42E152;

		}
	}
}