.progress-bar {
	position: relative;
	display: inline-flex;
	&-svg {
		transform: rotate(180deg);
	}
}

.progress {
	display: inline-flex;
	align-items: center;
	gap: 2px;
	position: relative;
	top: 2px;
	&__value-text {
		font-size: 11px;
		line-height: 14px;
		@media (min-width: $lg) {
			font-size: 14px;
			line-height: 20px;
		}
	}
	&--docs {
		
	}
}