.header-btns {

	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	gap: 15px;
	padding: 6px 7px 0 0;
	position: relative;
	@media (min-width: $xl) {
		gap: 35px;
	}
	&__item {
		@media (min-width: $lg) {
			position: relative;
		}
		&-indicator {
			position: absolute;
			right: 0;
			background: #E54137;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--color-white);
			font-weight: 700;
			line-height: 1.2;
			font-family: $fontThird;
			border-radius: 100%;
			width: 12px;
			height: 12px;
			font-size: 9px;
			bottom: 2px;
			@media (min-width: $lg) {
				width: 14px;
				height: 14px;
				font-size: 10px;
				bottom: 3px;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 24px;
		height: 24px;
		&.active {
			svg {
				fill: #0085FF;
			}
		}
		@media (min-width: $lg) {
			width: 32px;
			height: 32px;
		}

		@media (max-width: $lg - 1px) {
			.icon-loop {
				width: 22px;
				height: 22px;
			}
			.icon-bell {
				width: 19px;
				height: 22px;
			}
			.icon-user {
				width: 23px;
				height: 23px;
			}
			.icon-menu {
				width: 21px;
				height: 15px;
				fill: var(--color-black-base);
			}
		}
	}
}