.header-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-left: 32px;
	&>li {
		padding: 0 16px;
		&>a {
			font-family: $fontSecond;
			font-weight: 800;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: underline;
			text-transform: uppercase;
			color: rgba(0, 0, 0, 0.8);
			&:hover {
				text-decoration: none;
			}
		}
	}
}