.user-menu {
	position: absolute;
	right: -20px;
	top: calc(100% + 7px);
	background: var(--color-white);
	border-radius: 10px;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	width: 223px;
	transition: .25s;
	z-index: 500;
	opacity: 0;
	visibility: hidden;

	&--mobile {
		width: 252px;
		box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.05);
		.user-menu {
			&__list {
				&-item {
					&-link {
						height: auto;
						padding-top: 10px;
						padding-bottom: 10px;
					}
					&-icon {
						svg {
							fill: rgba(#000, .8);
						}
					}
				}
			}
		}
	}

	&.opened {
		opacity: 1;
		visibility: visible;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 7px 0;
		&:not(:last-child) {
			border-bottom: 1px solid #DADADA;
		}
		&-item {
			&-link {
				display: flex;
				align-items: center;
				font-size: 18px;
				gap: 10px;
				height: 40px;
				padding: 5px 15px;
				color: rgba(#111111, .8);
				transition: .25s;
				&:hover {
					background: rgba(#8C8C8C, .1);
				}
			}
			&-icon {
				flex-shrink: 0;
				width: 24px;
				height: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					fill: var(--color-blue2);
				}
			}
		}
	}
}